 <!-- Site footer -->
<!-- <footer class="first-footer">
   <div class="container">
   </div>
</footer> -->

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6></h6>
            <p class="text-justify"><img src="https://i.ibb.co/WxwHJq0/FCA-logo-2.png" alt="" /></p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="footer-links">
              <li><%= link_to"About us", about_path%></li>
              <li><%= link_to"Privacy Policy", privacy_path%></li>
              <li><%= link_to"Terms & Conditions", conditions_path%></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Address</h6>
            <ul class="footer-links">
              <li>40 Gracechurch Street</li>
              <li>EC3V 0BT</li>
              <li>London, UK</li>
            </ul><br>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12"><br>
            <p class="copyright-text">KiyanPay is registered by the Financial Conduct Authority under money transfer and payment services Ref No: 814005 and it is licensed, regulated by HMRC as a Money Service Business (MSB) License No.XRML00000131603.</a>
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons"><br>
              <li><a class="facebook" href="https://www.facebook.com/kiyanpayexchange"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/kiyanpay"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="https://www.instagram.com/kiyanpay/"><i class="fa fa-instagram"></i></a></li> 
            </ul>
          </div>
        </div>
      </div>
</footer>