 <!-- Site footer -->
<!-- <footer class="first-footer">
   <div class="container">
   </div>
</footer> -->

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <h6></h6>
            <p class="text-justify">
            <img src="https://i.ibb.co/hYjcvZN/fraud2.png" alt="" />
            <img src="https://i.ibb.co/KjB1W49/innovatefinance-copy.png" alt="" />
            </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="title-footer"><h6>ABOUT US</h6></div>
            <ul class="footer-links">
              <li><%=  link_to"Who We Are", about_path%></li>
              <li><a href="/blog">Blog</a></li>
              <li><%=  link_to"Careers", careers_path%></li>

            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="title-footer"><h6>Quick Links</h6></div>
            <ul class="footer-links">
              <li><a href="/fraud-protection">Fraud Protection</a></li>
              <li><%=  link_to"Privacy Policy", privacy_path%></li>
              <li><%=  link_to"Terms & Conditions", terms_path%></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <div class="title-footer"><h6>Address</h6></div>
            <ul class="footer-links">
              <li>40 Gracechurch Street</li>
              <li>EC3V 0BT</li>
              <li>London, UK</li>
            </ul><br>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-6 col-xs-12"><br>
            <p class="copyright-text">Kiyanpay is registered by the Financial Conduct Authority under electronic money transfer and payment services Ref No: 814005 and is licensed and regulated by HMRC as a Money Service Business (MSB - license no. XRML00000131603). Kiyanpay is not a bank, the Kiyanpay account is an e-money account. <br><br><br>
            </p>
          </div>

          <div class="col-md-2 col-sm-6 col-xs-12">
            <ul class="social-icons"><br>
              <li><a rel=noopener class="facebook" href="https://www.facebook.com/kiyanpayltd"><i class="fa fa-facebook"></i></a></li>
              <li><a rel=noopener class="twitter" href="https://twitter.com/kiyanpay"><i class="fa fa-twitter"></i></a></li>
              <li><a rel=noopener class="instagram" href="https://www.instagram.com/kiyanpay/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>
