<nav>
   <div class="navigation-wrap start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%= link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo.png" %>
            <% end %>

<!--  
           To do once we add the page business -->
            <div class="pricing-container">
              <div class="pricing-switcher">
                <p class="fieldset">
                  <input type="radio" onclick="navigate1()" name="duration-1" value="monthly" id="monthly-1" checked>
                  <label for="monthly-1" >Personal</label>
                  <input type="radio" onclick="navigate()"" name="duration-1" value="yearly" id="yearly-1">
                  <label for="yearly-1">Business</label>
                  <span class="switch"></span>
                </p>
              </div>        
            </div> 

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a class="nav-link" href="https://kiyanpay.zendesk.com/hc/en-us"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a href="https://gate.kiyanpay.com/login">Log in</a></div>
              </div>
          
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</nav>

<script>
  function navigate(){
    window.open("/professional",'_self');
}
  function navigate1(){
    window.open("/",'_self');
}
</script>

<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
