<section class="section-m"> 
  <div class="container">
    <div class="slide-left">
      <h1>A Story of Love & Frustration</h1><br>
      <p>
        Kiyanpay opened its eyes to the world in 2019, starting off as a money transfer business with a big dream. We wanted to make the process of sending money to those important to you easier and more enjoyable. This meant we had to deal with a lot of different banks around the world, and we realised there is one thing in common: banks tend to be rude and greedy (right?). We were frustrated by how our customers were treated by their banks, and this was highlighted even more during the recent pandemic. So we took the matters into our own hands.  
      </p><br><br><br>
    </div>
    <div class="right-side">
      <img src="https://i.ibb.co/WkLYPsN/Untitled-Artwork-17.png" />
    </div> 
  </div>
</section>

<section id="about" class="section-x">
  <div class="container-2">
    <div class="float-l">
      <img src="https://i.ibb.co/XsQjt5P/Untitled-Artwork-45.png" class="floating" />
    </div>
    <div class="section-b-inner py-5"><br><br>
      <h2>Banking Services That Work For You</h2>
      <p>Just because you need your bank doesn't mean they can treat you how they want. We are putting you at the center, and building everything else around you. Our mission is to provide the most customer-centric banking and money transfer services to our users. It’s about time we all took full control of our money.
      </p><br>
    </div>
    <div class="float-r">
      <img src="https://i.ibb.co/RH6mVZj/Untitled-Artwork-44.png" class="floating" />
    </div>
  </div>   
</section>

<section class="section-t">
  <div class="container">
    <div class="right-side">
      <img src="https://i.ibb.co/tKPMHK7/Untitled-Artwork.png" />
    </div>
    <div class="slide-left">
      <h1>Big, Big Dreams</h1><br>
      <p>
       Together we have achieved so much in a short space of time. But we are still at the beginning of a long, exciting journey. We are constantly adding new local currencies, meaning for example you can spend your USD money without going through an exchange rate. We are soon introducing state-of-the-art multiple currency debit cards that allow you to take all your currencies with you wherever you go. We are making banking a more enjoyable experience, by allowing you to connect with your friends, family or clients easily and effortlessly. And we are making life more and more simple for your clients. 
      </p><br><br><br>
    </div>
  </div>
</section>



