<section class="section-a">
  <div class="container">
    <div>
      <h1>About us</h1><br>
      <p>
        Send money abroad the easy way, 
        with rates up to 9 x cheaper than banks. 
      </p><br><br><br>
    </div>
    <img src="https://i.ibb.co/WkLYPsN/Untitled-Artwork-17.png" />
  </div>
</section>



<!-- <div class="cardsh">
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="https://i.ibb.co/CKDWndj/Untitled-Artwork-27.png" alt="las vegas">
            </div>
            <div class="details">
                <h3>KiyanPay Multi-Currency Cards</h3>
                <p>Soon you'll be able to take your virtual money with you and use it wherever you go. With our new multi-currency cards to launch later this year, you will be able to use your money to purchase or withdraw from ATM's around the world.</p>
            </div>
        </div>
        <div class="card card2">
            <div class="container">
                <img src="https://i.ibb.co/N96BYhC/Untitled-Artwork-28.png" alt="New York">
            </div>
            <div class="details">
                <h3>We are making banking Social</h3>
                <p>It's about time, isn't it? Dealing with money can be much more than a boring necessity. Stay tuned!<br><br><br><br><br></p>
            </div>
        </div>
        <div class="card card3">
            <div class="container">
                <img src="https://i.ibb.co/1nJfGQJ/Untitled-Artwork-29.png" alt="Singapore">
            </div>
            <div class="details">
                <h3>Money Transfer Done Right</h3>
                <p>Send money abroad the easy way, with rates up to 9 x cheaper than banks. You will soon have access to a growing list of currencies directly from your KiyanPay account.<br><br><br></p>
            </div>
        </div>
        <div class="card card1">
            <div class="container">
                <img src="https://i.ibb.co/nw1csvg/Untitled-Artwork-31.png" alt="las vegas">
            </div>
            <div class="details">
                <h3>KiyanPay Multi-Currency Cards</h3>
                <p>Soon you'll be able to take your virtual money with you and use it wherever you go. With our new multi-currency cards to launch later this year, you will be able to use your money to purchase or withdraw from ATM's around the world.</p>
            </div>
        </div>
        <div class="card card1">
            <div class="container">
                <img src="https://i.ibb.co/drw2xmK/Untitled-Artwork-32.png" alt="las vegas">
            </div>
            <div class="details">
                <h3>KiyanPay Multi-Currency Cards</h3>
                <p>Soon you'll be able to take your virtual money with you and use it wherever you go. With our new multi-currency cards to launch later this year, you will be able to use your money to purchase or withdraw from ATM's around the world.</p>
            </div>
        </div>
        <div class="card card1">
            <div class="container">
                <img src="https://i.ibb.co/4J1tJ9N/Untitled-Artwork-33.png" alt="las vegas">
            </div>
            <div class="details">
                <h3>KiyanPay Multi-Currency Cards</h3>
                <p>Soon you'll be able to take your virtual money with you and use it wherever you go. With our new multi-currency cards to launch later this year, you will be able to use your money to purchase or withdraw from ATM's around the world.</p>
            </div>
        </div>
    </div>
</div> -->


<!-- <section id="about" class="section-d">
  <div class="viewport">
    <div class="cards">
  
      <div class="card">
        <div class="card_img card1">
          <img src="https://i.ibb.co/d2YK8bc/Untitled-Artwork-2.png" />
        </div>
        <h3>AMAZING FLUO</h3>
        <div class="line">
        </div>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.  </p>  
      </div>
      <div class="card">
        <div class="card_img card2">
          <img src="https://i.ibb.co/Qd3jMyf/Untitled-Artwork-9.png" />
        </div>
        <h3>TITLE HERE</h3>
          <div class="line">
        </div>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div class="card">
        <div class="card_img card3">
          <img src="https://i.ibb.co/ZW9twLk/Untitled-Artwork-4.png" />
        </div>
        <h3>TITLE HERE</h3>
        <div class="line">
        </div>
        <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      </div>
      <div class="card">
        <div class="card_img card4">
        <img src="https://i.ibb.co/QHJn0vW/Untitled-Artwork-21.png" />
      </div>
      <h3>TITLE HERE</h3>
      <div class="line">
      </div>
      <p>voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</div>
      <div class="card">
        <div class="card_img card5">
          <img src="https://i.ibb.co/W6yddwk/Untitled-Artwork-5.png" />
        </div>
        <h3>TITLE HERE</h3>
        <div class="line">
        </div>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.</p>
      </div>
      <div class="card">
        <div class="card_img card6">
          <img src="https://i.ibb.co/10tDwJR/Untitled-Artwork-7.png" />
        </div>
        <h3>TITLE HERE</h3>
        <div class="line">
        </div>
        <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.  </p>
      </div>
    </div>
  </div>
</section> -->

<!--      <section class="section-b">
      <div class="overlay">
        	<div class="min2">
        		<h1>Always Thinking ahead</h1>
          		<img src="https://i.ibb.co/5B9bRpq/Untitled-Artwork-10.png" alt="" />
      		</div>
      </div>      
    </section> -->