<%= render 'shared/navbar' %>


<section class="section-m"> 
  <div class="container">
    <div class="slide-left">
      <h1>A Story of Love & Frustration</h1><br>
      <p>
        We haven’t been around forever; in fact, we first opened our doors and the borders of the world in 2019. We started as a small money transfer business with a big dream. We wanted to make earning, spending and sending money easier and more enjoyable.  
        Making our dreams come true meant we had to deal with A LOT of different banks, and none of them were up to scratch. We found them patronising, rude and greedy!  
        Our frustration grew when we saw that banks treated our customers the same way, even more so in a pandemic. So, here we are. We’re taking matters into our hands, and in turn your hands too.
  
      </p><br><br><br>
    </div>
    <div class="right-side">
      <img src="https://i.ibb.co/WkLYPsN/Untitled-Artwork-17.png" />
    </div> 
  </div>
</section>

<section id="about" class="section-x">
  <div class="container-2">
    <div class="float-l">
      <img src="https://i.ibb.co/XsQjt5P/Untitled-Artwork-45.png" class="floating" />
    </div>
    <div class="section-b-inner py-5"><br><br>
      <h2>Banking Services That Work For You</h2>
      <p>You might need your bank but that doesn’t give them an excuse to treat you like anything other than Kings (and Queens and non-binary monarchs)! At KiyanPay our customers are at the centre of our universe - our infrastructure is built around you. 
      We’re taking control of banking so you can take control of your money. 
      </p><br>
    </div>
    <div class="float-r">
      <img src="https://i.ibb.co/RH6mVZj/Untitled-Artwork-44.png" class="floating" />
    </div>
  </div>   
</section>

<section class="section-t">
  <div class="container">
    <div class="right-side">
      <img src="https://i.ibb.co/tKPMHK7/Untitled-Artwork.png" />
    </div>
    <div class="slide-left">
      <h1>Big, Big Dreams</h1><br>
      <p>
      Together we have achieved so much already, and in such a small space of time too! But we’re not ready to stop now, in fact, we’re just beginning.  
      New currencies, new features and new banking. That’s what we’re working towards daily. We want to make banking enjoyable because organising your money should be just as easy and fun as spending it. 
 
      </p><br><br><br>
    </div>
  </div>
</section>



