
<main>
  <div class="sticky">
    <div class="text-scroll">
        <a href="#1">1. Who are KiyanPay?</a><br><br>
        <a href="#2">2. What data do we collect?</a><br><br>
        <a href="#3">3. Why do we collect your data?</a><br><br>
        <a href="#4">4. How do we keep your data safe and secure?</a><br><br>
        <a href="#5">5. How long do we keep your data?</a><br><br>
        <a href="#6">6. Who do we share your data with?</a><br><br>
        <a href="#7">7. What are your rights?</a><br><br>
        <a href="#8">8. Legitimate interest</a><br><br>
        <a href="#9">9. Cookies Policy</a><br><br>
        <a href="#10">10. Automated decision making</a><br><br>
        <a href="#11">11. Logging in to KiyanPay with your Facebook and Google account</a><br><br>
        <a href="#12">12. Changes in Privacy Policy</a><br><br>
        <a href="#13">13. Contact details</a><br><br>
    </div>
  </div>
  <div class="content">
          <div class="article-section" id="leopard">
    1. Who are KiyanPay?
    KiyanPay is an online money transfer service with the mission to make international money transfer easier, faster and cheaper. In this Privacy Policy, terms such as “we”, “us” and “KiyanPay” refer to KiyanPay (Company Number 11201126) with its registered office located at 40 Gracechurch Street, London EC3V 0BT, United Kingdom, and where relevant to its subsidiaries, branches and/or representative offices. The term “Service” refers to money transfers enabled from our website or mobile app. In the language of data protection regulation, KiyanPay is the “data controller” of your personal data and you, our customer, are the “data subject”. This means that KiyanPay determines the purposes and means of processing your personal data, while respecting rights concerning your privacy.

        </div>

        <div class="article-section" id="puma">
          2. What data do we collect?
          Like most companies, we collect various types of data about our customers. Some of it may be considered personal data, which means data that make you identifiable as an individual.

    We may collect and use the following data:

    Basic personal data, such as (but not limited to):

    Date of birth
  Address
  Phone number
  E-mail address
  This data is necessary for KiyanPay to provide the Service to you. We will request this data when you sign up, before the Service is provided.

  Data for ‘Know Your Customer’ (KYC) regulations, such as (but not limited to):

        Proof of your identity, like a passport, driving licence, national ID card or residence permit
        Proof of your address, like a utility bill or bank statement
        Additional details on the the source of funds being sent, like a payslip, credit card statement, tax rebate receipt or bank loan agreement
        As a regulated financial institution, we are bound by the legal requirement to collect, verify and record certain data about you or recipients of your transactions. Any personal data received from the customer for the purpose of preventing money laundering or terrorist financing will be used only for that purpose and nothing more. This data will be needed to conduct Know Your Customer (KYC), Customer Due Diligence (CDD) and security checks, as required by local and international regulations. This helps us keep your money safe, and we will only request these details when necessary.

        As a regulated financial institution, we are bound by the legal requirement to collect, verify and record certain data about you or recipients of your transactions. Any personal data received from the customer for the purpose of preventing money laundering or terrorist financing will be used only for that purpose and nothing more. This data will be needed to conduct Know Your Customer (KYC), Customer Due Diligence (CDD) and security checks, as required by local and international regulations. This helps us keep your money safe, and we will only request these details when necessary.

        Data about your recipient, such as (but not limited to):

        Name
        Date of birth
        Occupation
        Phone number
        Proof of their identity, such as a passport, driving licence, national ID card or residence permit
        As a regulated financial institution, we are bound by the legal requirement to collect, verify and record certain data about you or recipients of your transactions. Any personal data received from the customer for the purpose of preventing money laundering or terrorist financing will be used only for that purpose and nothing more. This data will be needed to conduct Know Your Customer (KYC), Customer Due Diligence (CDD) and security checks, as required by local and international regulations. This helps us keep your money safe, and we will only request these details when necessary.

        Data from other third party sources, such as (but not limited to):

        Facebook, Twitter or Google profile images and names
        Banks and payment service providers used to transfer money to us
        Advertising networks
        Search engines providers (such as Yahoo.com or Google)
        Credit reference agencies
        KiyanPay collects this data only when you provide the relevant permission to social media sites.

        Technical data, such as (but not limited to):

        Page views
        App downloads
        Operating system
        Browser type
        This data is used to help us to understand how you use our Service, so that we can improve it.
        </div>
                <div class="article-section" id="lion">
              3. Why do we collect your data?
              We collect your data to personalize and improve our Service for you. The specific purposes for which we collect your data include:

        Transactional purposes
        We need to collect data in order to process your transactions. Without data such as you and your beneficiaries bank account details or full name and address, we would be unable to transfer money for you.

        Regulatory purposes
        As regulated financial institutions, both KiyanPay and our partners are required to conduct Know Your Customer (KYC) and Customer Due Diligence (CDD) checks to comply with our legal and regulatory requirements. These include our requirements under Anti Money Laundering (AML) and Counter Terrorist Financing (CTF) legislation. All of this helps us keep our Service safe and secure. Any personal data received from the customer for the purpose of preventing money laundering or terrorist financing will be used only for that purpose and nothing more.

        Marketing purposes
        We may process your personal data to provide you with certain types of marketing communication that we believe will be relevant and of interest to you. This helps us provide you with a more personalised Service. This kind of activity is permitted by our ‘legitimate interest’ (for more information on legitimate interest, please see Section 8 of this Policy). We will always endeavour to make these communications relevant and unintrusive, and you are able to object to marketing communication from us at any time.

        Analytical purposes
        We may collect and analyse data such as website or app visit logs in order to improve the quality of our Service. You do not have to disclose any of the above data to us. However, if you choose to withhold certain data, we may not be able to provide you with our Service.
        </div>
                <div class="article-section" id="cheetah">4. How do we keep your data safe and secure?
                All the data that you provide to us is encrypted on our secure servers. We restrict access to your data to specific employees of KiyanPay who have an important business-related reason for handling it. Our communications are encrypted using the TLS (Transport Layer Security) technology protocol. All of the data we collect from you or from other sources will always be stored in accordance with this Privacy Policy.
      </div>
</div>
</main>

