<!-- <div class="content">


  <div class="article js-sidebar-holder">
    <div class="article-content-holder">
      <div class="article-content">
        <div class="article-section" id="1">
          <span class="article-title">1. Who are KiyanPay?</span>
          <span class="article-text">
            t
          </span>
        </div>
        <div class="article-section" id="2">
          <span class="article-title">2. What data do we collect?</span>
          <span class="article-text">
            t
          </span>
        </div>
        <div class="article-section" id="3">
          <span class="article-title">3. Why do we collect your data?</span>
          <span class="article-text">
            t
          </span>
        </div>
        <div class="article-section" id="4">
          <span class="article-title">4. How do we keep your data safe and secure?</span>
          <span class="article-text">
            t
          </span>
        </div>

        <div class="article-section" id="5">
          <span class="article-title">5. How long do we keep your data?</span>
          <span class="article-text">
            t
          </span>
        </div>

        <div class="article-section" id="6">
          <span class="article-title">6. Who do we share your data with?</span>
          <span class="article-text">
            t
          </span>
        </div>

        <div class="article-section" id="7">
          <span class="article-title">7. What are your rights?</span>
          <span class="article-text">
            t
          </span>
        </div>

        <div class="article-section" id="8">
          <span class="article-title">8. Legitimate interest</span>
          <span class="article-text">
            t
          </span>
        </div>

        <div class="article-section" id="9">
          <span class="article-title">9. Cookies Policy</span>
          <span class="article-text">
            t
          </span>
        </div>

        <div class="article-section" id="10">
          <span class="article-title">10. Automated decision making</span>
          <span class="article-text">
            t
          </span>
        </div>

        <div class="article-section" id="11">
          <span class="article-title">11. Logging in to KiyanPay with your Facebook and Google account</span>
          <span class="article-text">
            t
          </span>
        </div>

        <div class="article-section" id="12">
          <span class="article-title">12. Changes in Privacy Policy</span>
          <span class="article-text">
            t
          </span>
        </div>

        <div class="article-section" id="13">
          <span class="article-title">13. Contact details</span>
          <span class="article-text">
            t
          </span>
        </div>

      </div>
    </div>

    <div class="article-sidebar js-sidebar-menu">
      <div class="article-sidebar-menu js-navigation-list">
        <a href="#1" class="article-sidebar-menu-text js-navigation-item active">1. Who are KiyanPay?</a>
        <a href="#2" class="article-sidebar-menu-text js-navigation-item">2. What data do we collect?</a>
        <a href="#3" class="article-sidebar-menu-text js-navigation-item">3. Why do we collect your data?</a>
        <a href="#4" class="article-sidebar-menu-text js-navigation-item">4. How do we keep your data safe and secure?</a>
        <a href="#5" class="article-sidebar-menu-text js-navigation-item">5. How long do we keep your data?</a>
        <a href="#6" class="article-sidebar-menu-text js-navigation-item">6. Who do we share your data with?</a>
        <a href="#7" class="article-sidebar-menu-text js-navigation-item">7. What are your rights?</a>
        <a href="#8" class="article-sidebar-menu-text js-navigation-item">8. Legitimate interest</a>
        <a href="#9" class="article-sidebar-menu-text js-navigation-item">9. Cookies Policy</a>
        <a href="#10" class="article-sidebar-menu-text js-navigation-item">10. Automated decision making</a>
        <a href="#11" class="article-sidebar-menu-text js-navigation-item">11. Logging in to KiyanPay with your Facebook and Google account</a>
        <a href="#12" class="article-sidebar-menu-text js-navigation-item">12. Changes in Privacy Policy</a>
        <a href="#13" class="article-sidebar-menu-text js-navigation-item">13. Contact details</a>
      </div>
    </div>

</div> -->

