<%= render 'shared/navbar' %>

<div class="moving-title">
  <img src="https://i.ibb.co/YLHLqGx/KP-Logo-Mononotext.png"/>
    <h1>We're looking for <span class="text blue">Artists</span> </h1>
</div>

<section class="section-t">
  <div class="container">
    <div class="right-side">
      <img src="https://source.unsplash.com/NjirplnVra8" />
    </div>
    <div class="slide-left">
      <h1>Who we are:</h1><br>
      <p>
       We’re a small bank with big dreams. Our goal? To bring banking to everyone. We want banking to be
       accessible to anyone who wants it. And while we’re at it, we’ve decided to tackle borders too. That
       means lower transfer fees, better exchange rates and multi-currency cards. And that’s not all that we’re
       working on! We’re currently developing our take on social banking, meaning every time your network
       uses KiyanPay to transfer, you’re earning money. And did we mention that we’ve got the little ones
       covered too? KiyanPay Kids is our children and young adults card that allows parents to set allowances
       and reward and track spending habits!
      </p><br><br><br>
    </div>
  </div>
</section>

<section class="section-m">
  <div class="container">
    <div class="slide-left">
      <h1>What we are looking for:</h1><br>
      <p>
        As you can already tell we’re pretty ambitious, so we need our team members to match our energy!
        Working at KiyanPay is fast-paced and exciting and we’re looking for someone who can not only keep up
        but push us. We’re still a small team so we need you to be able to branch out of just the job description;
        your opinion will be instrumental in all of the decisions made so we need some loud voices with new
        ideas. If you’re a self-starter with an eye for innovation then we want you to join our team, check out
        our open roles below.
      </p><br><br><br>
    </div>
    <div class="right-side">
      <img src="https://source.unsplash.com/vGgn0xLdy8s" />
    </div>
  </div>
</section>

<div class="moving-title">
    <h1>Positions</h1>
</div>

<div class="container">
  <div class="page-header">
  </div>
  <ul class="timeline-career">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Mid-Level to Senior React Native Developer</h4>
        </div>
        <div class="timeline-body">
          <p>Within this role, we are hiring for someone with a strong background in mobile application development, who can take ownership for development across iOS, Android and equivelant web interface. You will be amongst the first developers to join the team and will have the opportunity to shape the application through your vision. Your overall goal will be to create beautiful, intelligent, and modern solutions for Kiyanpay's client base.
You will be joining a team of young, enthusiastic individuals with exciting goals and ambitions, withing a fast-paced startup enviroment.</p>
          <button id="myBtn" class="plus-button plus-button--small"></button>
            <div  id="myModal" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">&times;</span>
                <br>
                <div class="articles">
                  <h4 class="timeline-title">Mid-Level to Senior React Native Developer</h4><br><br>
                <p>Kiyanpay an exciting, fast-growing Fintech start-up based in London. Our mission is to help our customers improve the way they manage their finances and empower them to connect and send money easily and at great rates to anywhere in the world. <br> <br>
                We offer maximum functionality and enhanced user experience in comparison to those provided by market competitors. Amongst many exciting features, Kiyanpay's mobile and web application will provide - amongst many features - multiple-currency accounts, physical debit cards and advanced money transfer solution within an innovative mobile and web interface. <br> <br>
                Within this role, we are hiring for someone with a strong background in mobile application development, who can take ownership for development across iOS, Android and equivelant web interface. You will be amongst the first developers to join the team and will have the opportunity to shape the application through your vision. Your overall goal will be to create beautiful, intelligent, and modern solutions for Kiyanpay's client base. <br><br>
                You will be joining a team of young, enthusiastic individuals with exciting goals and ambitions, withing a fast-paced startup enviroment. <br> <br>
                Responsibilities: <br> <br>
                &nbsp&nbsp&nbsp•&nbsp Support the entire application lifecycle (concept, design, test, release and support) <br>
                &nbsp&nbsp&nbsp•&nbsp Produce fully functional mobile applications writing clean code <br>
                &nbsp&nbsp&nbsp•&nbsp Gather specific requirements and suggest solutions <br>
                &nbsp&nbsp&nbsp•&nbsp Write unit and UI tests to identify malfunctions <br>
                &nbsp&nbsp&nbsp•&nbsp Troubleshoot and debug to optimize performance <br>
                &nbsp&nbsp&nbsp•&nbsp Design interfaces to improve user experience <br>
                &nbsp&nbsp&nbsp•&nbsp Liaise with Product development team to plan new features <br>
                &nbsp&nbsp&nbsp•&nbsp Ensure new and legacy applications meet quality standards <br>
                &nbsp&nbsp&nbsp•&nbsp Research and suggest new mobile products, applications and protocols <br>
                &nbsp&nbsp&nbsp•&nbsp Stay up-to-date with new technology trends Requirements <br>
                &nbsp&nbsp&nbsp•&nbsp Proven work experience as a Mobile developer <br>
                &nbsp&nbsp&nbsp•&nbsp Demonstrable portfolio of released applications on the App store or the Android market <br>
                &nbsp&nbsp&nbsp•&nbsp In-depth knowledge of at relevant programming languages <br>
                &nbsp&nbsp&nbsp•&nbsp Highly experienced working with APIs, to connect to our many partners <br>
                &nbsp&nbsp&nbsp•&nbsp Excellent analytical skills with a good problem-solving attitude <br>
                &nbsp&nbsp&nbsp•&nbsp Ability to perform in a team environment <br><br>
                We are looking for an immediate start. Do get in touch soon if you think you are suitable.</p><br><br>

                <button rel=noopener class="apply" onclick="location.href='mailto:jobs@kiyanpay.com';" style="display: block; margin: 0 auto;"> Apply </button>
              </div>
              </div>
            </div>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Product Designer / Coming Soon</h4>
        </div>
        <div class="timeline-body">
          <p> We’re working out the details for this role so that we can find the perfect fit- check back in soon so that you don’t miss it!</p>
<!--             <button id="myBtn2" class="plus-button plus-button--small"></button> -->

                      <!-- The Modal -->
<!--             <div id="myModal2" class="modal"> -->

              <!-- Modal content -->
<!--               <div class="modal-content">
                <span class="close2">&times;</span>
                <p>Some text in the Modal..</p>
              </div>
            </div> -->
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Fullstack Developer / Closed</h4>
        </div>
        <div class="timeline-body">
          <p>This position is now closed as we found the perfect talent for this role but as you already know we have very big dreams and the team is growing fast so be on the lookout for future positions!</p>
<!--           <button id="myBtn3" class="plus-button plus-button--small"></button> -->

          <!-- The Modal -->
<!--           <div id="myModal3" class="modal"> -->

            <!-- Modal content -->
<!--             <div class="modal-content">
              <span class="close3">&times;</span>
              <p>Some text in the Modal..</p>
            </div>
          </div> -->

        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Compliance Officer / Closed</h4>
        </div>
        <div class="timeline-body">
          <p>This position is now closed as we found the perfect talent for this role but as you already know we have very big dreams and the team is growing fast so be on the lookout for future positions!</p>
<!--           <button id="myBtn4" class="plus-button plus-button--small"></button>
            <div id="myModal4" class="modal"> -->

              <!-- Modal content -->
<!--               <div class="modal-content">
                <span class="close4">&times;</span>
                <p>Some text in the Modal..</p>
              </div> -->
<!--             </div> -->
        </div>
      </div>
    </li>

    <li>
      <div class="timeline-badge info"><i class="glyphicon glyphicon-floppy-disk"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Content Specialist / Closed </h4>
        </div>
        <div class="timeline-body">
          <p>This position is now closed as we found the perfect talent for this role but as you already know we have very big dreams and the team is growing fast so be on the lookout for future positions!</p>
<!--           <button id="myBtn5" class="plus-button plus-button--small"></button>
            <div id="myModal5" class="modal"> -->

              <!-- Modal content -->
<!--               <div class="modal-content">
                <span class="close5">&times;</span>
                <p>Some text in the Modal..</p>
              </div>
            </div> -->
        </div>
      </div>
    </li>

  </ul>
</div>

<div class="apply_card" id="bright">
  <div class="info_section">
        <h4 class="timeline-title">Can't find your dream job?</h4>

        <p>We're pretty open-minded so if you think you can add something to our team that we haven't already thought of then we're encouraging you to send us your best shot! Email your CV to us and we'll take a look and see if there's potential for our collaboration. We can't wait to see just how great you are.</p>
        <button rel=noopener class="apply" onclick="location.href='mailto:jobs@kiyanpay.com';" style="display: block; margin: 0 auto;"> Apply </button>
  </div>
</div>




<script>
  // Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

// second modal
  // Get the modal
// var modal = document.getElementById("myModal2");

// Get the button that opens the modal
// var btn = document.getElementById("myBtn2");

// Get the <span> element that closes the modal
// var span = document.getElementsByClassName("close2")[0];

// When the user clicks on the button, open the modal
// btn.onclick = function() {
//   modal.style.display = "block";
// }

// When the user clicks on <span> (x), close the modal
// span.onclick = function() {
//   modal.style.display = "none";
// }

// When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//   if (event.target == modal) {
//     modal.style.display = "none";
//   }
// }

// third modal
  // Get the modal
// var modal = document.getElementById("myModal3");

// Get the button that opens the modal
// var btn = document.getElementById("myBtn3");

// Get the <span> element that closes the modal
// var span = document.getElementsByClassName("close3")[0];

// When the user clicks on the button, open the modal
// btn.onclick = function() {
//   modal.style.display = "block";
// }

// When the user clicks on <span> (x), close the modal
// span.onclick = function() {
//   modal.style.display = "none";
// }

// When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//   if (event.target == modal) {
//     modal.style.display = "none";
//   }
// }

// fourth modal
  // Get the modal
// var modal = document.getElementById("myModal4");

// Get the button that opens the modal
// var btn = document.getElementById("myBtn4");

// Get the <span> element that closes the modal
// var span = document.getElementsByClassName("close4")[0];

// When the user clicks on the button, open the modal
// btn.onclick = function() {
//   modal.style.display = "block";
// }

// When the user clicks on <span> (x), close the modal
// span.onclick = function() {
//   modal.style.display = "none";
// }

// When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//   if (event.target == modal) {
//     modal.style.display = "none";
//   }
// }

// fifth modal
  // Get the modal
// var modal = document.getElementById("myModal5");

// Get the button that opens the modal
// var btn = document.getElementById("myBtn5");

// Get the <span> element that closes the modal
// var span = document.getElementsByClassName("close5")[0];

// When the user clicks on the button, open the modal
// btn.onclick = function() {
//   modal.style.display = "block";
// }

// When the user clicks on <span> (x), close the modal
// span.onclick = function() {
//   modal.style.display = "none";
// }

// When the user clicks anywhere outside of the modal, close it
// window.onclick = function(event) {
//   if (event.target == modal) {
//     modal.style.display = "none";
//   }
// }

</script>

<script>
  const words = ["Artists", "Thinkers", "Dreamers", "You"],
  colors = ["blue", "green", "yellow", "red"],
  text = document.querySelector(".text");

// Generator (iterate from 0-3)
function* generator() {
  var index = 0;
  while (true) {
    yield index++;

    if (index > 3) {
      index = 0;
    }
  }
}

// Printing effect
function printChar(word) {
  let i = 0;
  text.innerHTML = "";
  text.classList.add(colors[words.indexOf(word)]);
  let id = setInterval(() => {
    if (i >= word.length) {
      deleteChar();
      clearInterval(id);
    } else {
      text.innerHTML += word[i];
      i++;
    }
  }, 500);
}

// Deleting effect
function deleteChar() {
  let word = text.innerHTML;
  let i = word.length - 1;
  let id = setInterval(() => {
    if (i >= 0) {
      text.innerHTML = text.innerHTML.substring(0, text.innerHTML.length - 1);
      i--;
    } else {
      text.classList.remove(colors[words.indexOf(word)]);
      printChar(words[gen.next().value]);
      clearInterval(id);
    }
  }, 300);
}

// Initializing generator
let gen = generator();

printChar(words[gen.next().value]);

</script>

