<section class="section-b">
	<div class="overlay">
        <div class="min">
        	<h1>Terms and conditions</h1>
          	<img src="https://i.ibb.co/HXxbdWG/Untitled-Artwork-18.png" alt="" />
      	</div>
     </div>      
</section>

<div class="text-wrapper">
	<div class="text-content">

		<h2>General provisions</h2>

		<h3>1. The Terms and Conditions listed below govern the access and use of our website (hereinafter called “the Website”) and mobile phone application (“the Application”) that enable you to transfer money (“the Service”).</h3>
		<h3>2. You hereby acknowledge and agree that the English language version of these Terms and Conditions is the applicable version for all languages. Any other language version we may provide is for guidance purposes only. Any dispute or claim arising out of or in connection with the present Terms and Conditions or their subject matter or formation (including non-contractual disputes or claims) will be considered in relation to the English version only.</h3>
		<h3>3. In the present Terms and Conditions the terms “KiyanPay”, “we”, “us”, “our” refer to KiyanPay  and “you”, “your” refer to any person who accesses and/or uses the Service as a Sender.</h3>
		<h3>4. It is important that you understand that access and use of the Service is conditional on your acceptance of the present Terms and Conditions. At all times, may you request to receive a copy of these Terms and Conditions via post or email. Please send an email to <a href="terms@KiyanPay.com">terms@KiyanPay.com</a>.</h3>


		<h2>Definitions</h2>

		<p>In the present Terms and Conditions the below terms shall have the following meaning(s):</p>

		<h3>1. “Application” means an KiyanPay mobile phone application operated by KiyanPay to provide online money transfer services and the related information;</h3>
		<h3>2. “Compliance Officer” means one or more members of staff at KiyanPay or its group companies who is responsible for compliance with Money Transfer Regulations, anti-money laundering legislation and other applicable laws;</h3>
		<h3>3. “Fees” means the charges and fees we charge to you for the Service, as applicable, in accordance with the price list published on the Website and/or the Application, or the prices or rates that we communicate to you before we issue a Confirmation, or as provided in these Terms and Conditions;</h3>
		<h3>4. “Force Majeure Event” means any of the circumstances referred to in clause 9.7;</h3>
		<h3>5. “FX Spread” is where you pay for a transaction in one currency and it is paid out in another currency, we apply an FX spread. The FX spread is the difference between the exchange rate we buy the currency in and the exchange rate we are able to provide to you and we communicated it in the order confirmation and it covers our costs plus a small margin.</h3>
		<h3>6. “Malicious Code” means computer viruses, Trojans, software locks, drop-dead devices, malicious logic or trap door, worms, time bombs, corrupted files or other computer programed routines that are intended to delete, disable, deactivate, damage, detrimentally interfere with, surreptitiously intercept or expropriate any systems, data, personal information or property of another;</h3>
		<h3>7. “Money Transfer Regulations” means the applicable laws of the United Kingdom or of the country from which funds are transferred or where funds are intended to be received which relate to electronic money transfer services including, without limitation, the Financial Services and Markets Act 2000, the Payment Services Regulations 2017 and the Electronic Money Regulations 2011;</h3>
		<h3>8. “Prohibited purpose” means any unlawful purpose (whether such illegality arises in the country from which the funds are transferred or where they are intended to be received or in any territory with jurisdiction over the Sender or the Receiver) including, without limitation, the transfer or receipt of payment for illegal activities, the transfer of funds which constitute proceeds of crime or money laundering under the Proceeds of Crime Act 2002 or which are obtained by illegal activity, the transfer of funds for the purpose of funding illegal activity, the transfer of funds for the purpose of avoiding the seizure of such funds by law enforcement authorities or under orders of any court of law, and any transfer of funds without the permission of their owner;</h3>
		<h3>9. “Recipient” means the person who receives (or intends to receive) the money through the Service,</h3>
		<h3>10. “Reference Number” means the unique transaction number, which will be issued to you and which the Recipient will be required to provide to our partners in order to receive the amount transferred,</h3>
		<h3>11. “Sender” means the person who initiates the carrying out of a money transfer through the Service,</h3>
		<h3>12. “Transaction” means every money transfer that you initiate using the Service and/or every other use that you make of the Service,</h3>
		<h3>13. “Website” means the website KiyanPay.com operated by KiyanPay to provide online money transfer services and the related information.</h3>


		<h2>Information about us and how to get in touch with us</h2>

		<h3>1. KiyanPay operates the Website and the Application that enable you to transfer money using a device connected to the Internet and/or a mobile phone.</h3>
		<h3>2. KiyanPay LTD is a company incorporated and licensed under the laws of the United Kingdom, (company number 11201126) engaged in the business of funds remittance with its Registered Office at 40 Gracechurch Street, London EC3V 0BT, United Kingdom.</h3>
		<h3>3. KiyanPay is regulated by the Financial Conduct Authority under the Electronic Money Regulations 814005 for the issuing of transferring money.</h3>
		<h3>4. We can be contacted via the following means:
			<li>Post using the address: 40 Gracechurch Street, London EC3V 0BT, United Kingdom</li>
			<li>Email using the email address: <a href="terms@KiyanPay.com">terms@KiyanPay.com</a>,</li>
			<li>Website: <a href="KiyanPay.com">KiyanPay.com</a></li></h3>


		<h2>Confidentiality/ Privacy</h2>

		<h3>1. As a fully regulated financial institution and with a purpose of providing the Service we are bound by the legal requirements to obtain, verify and record information about our customers. Therefore we may request from you or consult any legal sources to obtain your personal data and required KYC information when offering the Service to you.</h3>
		<h3>2. Your personal information will be treated and processed securely and strictly in accordance with applicable laws and regulations.</h3>
		<h3>3. Customer information will be treated as confidential, unless where it is already public knowledge or where it becomes public knowledge through no fault of our own.</h3>
		<h3>4. We may disclose customer information if we are required to do so by law, by our financial partners in order for them to fulfil their regulatory obligations, by court order, by any statutory, legal or regulatory requirement, by the police or any other competent authorities in connection with the prevention or detection of crime or to help combat fraud, money laundering and terrorism financing. We may also report suspicious activity to appropriate competent law enforcement or government authorities.</h3>
		<h3>5. For more details and information regarding the confidentiality, privacy and security please refer to our <%= link_to"Privacy Policy", privacy_path%>.</h3>


		<h2>Eligibility and your access right</h2>

		<h3>1. By using the Service, you warrant that you are at least 18 years old and that you have a legal capacity to enter into legally binding contracts.</h3>
		<h3>2. Without prejudice to your rights in relation to any order for Service in relation to which we issued a Confirmation (in accordance with clause 7 below), we reserve the right, at any time, to terminate or suspend your access to the Service without prior notice if:
			<li>You use the Service or attempt to use it for any Prohibited Purpose;</li>
			<li>You attempt to transfer or charge funds from an account that does not belong to you;</li>
			<li>We receive conflicting claims regarding ownership of or the right to withdraw funds from a debit or credit card account;</li>
			<li>You have provided us with false evidence of your identity or you keep failing in providing us with true, accurate, current and complete evidence of your identity or details regarding transactions;</li>
			<li>You have failed to successfully pass our customer due diligence and sanction checks;</li>
			<li>You attempt to tamper, hack, modify, overload, or otherwise corrupt or circumvent the security and/or functionality of the Website and/or the Application or to infect it with any Malicious Code;</li>
			<li>You are in breach of these Terms and Conditions;</li>
			<li>We have reason to believe that any of the foregoing has occurred or is likely to occur;</li>
			<li>In case of any of the circumstances listed in clause 7.4;</li>
			<li>You attempt to tamper, hack, modify, overload, or otherwise corrupt or circumvent the security and/or functionality of the Website and/or the Application or to infect it with any Malicious Code; or</li>
			<li>A Compliance Officer has taken a discretionary decision to do so. Clause 7.5 applies.</li></h3>


		<h2>Information we provide before the transaction is complete</h2>

		<h3>1. If funds are sent via a recipient form, before your Transaction is complete you will be provided with the following information:

			<li>The amount the Recipient will receive,</li>
			<li>The maximum total Fees (including the FX Spread) that you will be charged,</li>
			<li>An indication of the exchange rate that we will apply to your Transaction,</li>
			<li>The location and documentation needed from the Recipient in order to collect the money (in case of cash collection),</li>
			<li>An estimation of time it will take for the funds to be made available to the Recipient.</li></h3>

		<h3>2. If funds are sent via a mobile phone number, before your Transaction is complete you will be provided with the following information:

			<li>The amount the Recipient will receive,</li>
			<li>The maximum total Fees (including the FX Spread) that you will be charged,</li>
			<li>The exchange rate that we will apply to your Transaction.</li></h3>

		<p>The Transaction order will remain valid for 24 hours (or 5 days for bank transfers) from the moment you complete the Transaction Order, in order for you to pay the value of the Transaction to us. If we have not received the relevant funds within this timeframe, the order will be cancelled in accordance with clause 12.2 and you will be advised to initiate a new Transaction order.</p>

		<h2>How the contract is formed between you and us and how sending funds works in practice</h2>

		<h3>1. After you place a Transaction order via the Website using a recipient form, an e-mail will be sent to you acknowledging that your order has been received. After you place a Transaction order via the Application, you will receive a confirmation in the Application. Please note that this does not mean that your order is accepted. Any placement of a Transaction order shall be deemed to constitute your explicit approval and authorization of such order. You can revoke any approval up until the moment the Recipient has been paid in accordance with clause 12.</h3>
		<h3>2. A Transaction order constitutes solely an offer to buy our Service, which is subject to our discretionary acceptance. As part of the order, we will communicate the involved Fees and exchange rate. This does not yet constitute our acceptance. Such acceptance will be communicated to you either (i) via e-mail confirming that we are processing your request or (ii) through a confirmation in the Application (hereinafter called “the Confirmation”). The contract between you and us (hereinafter called “the Contract”) will only be formed when the Confirmation has been sent. The Transaction can still be revoked by you after Confirmation, but before payment to the Recipient in accordance with clause 12.</h3>
		<h3>3. The Contract relates solely to the Service that have been confirmed accepted in the Confirmation.</h3>
		<h3>4. We reserve the right to refuse to perform a Transaction (including after Confirmation) if:
			<li>We are unable to obtain satisfactory evidence of your identity;</li>
			<li>You provide us with false, incorrect or incomplete information;</li>
			<li>We are unable to reach you via contact details provided by you;</li>
			<li>Your transfer order, information or documentation is not provided sufficiently in advance to allow us to process it in accordance to your request;</li>
			<li>You are in breach of these Terms and Conditions;</li>
			<li>You or the order you placed are in breach of any applicable laws or regulations or are made for a Prohibited Purpose;</li>
			<li>Processing the Transaction in accordance with your order may expose us to liability;</li>
			<li>We are unable to process your Transaction due to variations in business hours, currency exchange or currency availability issues or due to any Force Majeure Event;</li>
			<li>We have reason to believe that any of the foregoing has occurred or is likely to occur; or</li>
			<li>A Compliance Officer has taken a discretionary decision to do so.</li></h3>

		<p>We shall notify you of any exercise of our rights in this clause, including the reasons thereof and any follow-up procedure for correction, unless prohibited by applicable laws and regulations.</p>

		<h3>1. We shall not be liable for any damages, costs or losses incurred by the Sender or the Recipient or any third party if, as a result of any of the circumstances referred to in clause 5.2 or 7.4, we fail to complete the transfer of funds in accordance with an order.</h3>

		<h2>Information provided after we process a transaction</h2>

		<p>After we process your Transaction to the Recipient an e-mail will be sent to you with the following information:</p>

		<h3>1. The Reference Number,</h3>
		<h3>2. A confirmation of the exact amount we are sending to the Recipient on your behalf in both pay in and pay out currencies,</h3>
		<h3>3. A confirmation of the Fees (including the FX Spread) that has been charged,</h3>
		<h3>4. The exchange rate applied to your Transaction,</h3>
		<h3>5. A location and documentation needed from the recipient in order to collect the money (in case of cash collection option),</h3>
		<h3>6. A confirmation of the bank to which the money has been sent (in case of bank deposit option),</h3>
		<h3>7. An estimated time when the money will be available to the Recipient.</h3>

		<h2>Limitations on our liability</h2>

		<h3>1. If a money transfer you ordered is delayed or fails, you may have a right to receive a refund or compensation under Money Transfer Regulations. Please contact us at terms@KiyanPay.com for more information regarding refunds and compensations.</h3>
		<h3>2. Claims for refund or compensation must be supported by all available evidence.</h3>
		<h3>3. Our total aggregate liability, whether in contract, tort or otherwise, is expressly limited to the greater of: (a) the amount of any Fees that was paid to us; or (b) €500. The foregoing cap on our liability applies to any single transaction, act, omission or event and to any number of related transactions, acts, and omissions or events. Notwithstanding the generality of the foregoing, if a Transaction in accordance with an order you made and for which you received Confirmation is delayed or fails and you are not entitled to a refund or compensation under the Money Transfer Regulations, we expressly limit our liability in respect of any such delayed or failed transfer (including for any claimed refund) to the original transaction value of such Transaction(s).</h3>
		<h3>4. Except as provided in clause 9.5, we shall not be liable to you or to any third party in relation to the Service, whether for breach of contract, tort (including negligence), misrepresentation, unjust enrichment or any other grounds, for any indirect, incidental, consequential or special damages including any loss of profits or savings or anticipated profits or savings, loss of opportunity, loss or reputation, goodwill or business or any economic loss, even if we are advised in advance of the possibility of such loss.</h3>
		<h3>5. Nothing in this clause shall:
			<li>Exclude or limit liability on our part for death or personal injury resulting from our negligence,</li>
			<li>Exclude liability for our fraud, our willful misconduct or gross negligence.</li></h3>
		<h3>1. We are not liable for the quality, safety, legality, or delivery of the goods or services that you pay for using the Service.</h3>
		<h3>2. We shall neither be liable for any breach of our obligations under the Contract to you nor for any failure or delay in performance of any obligations under the Contract arising from or attributable to acts, events, omissions or accidents beyond our reasonable control, including, without limitation, where our failure to perform our obligations arise from:
			<li>an act of God, fire, flood, earthquake, windstorm or other natural disaster, explosion or accidental damage, war, threat of or preparation for war, armed conflict, imposition of sanctions, embargo, export controls, breaking off of diplomatic relations or similar actions, terrorist attack, civil war, civil commotion or riots, pandemic or epidemic, industrial disputes, shortages of raw materials or components, general disruptions to transportation, telecommunication systems, power supply or other utilities;</li>
			<li>the acts, decrees, legislation, regulations or restrictions imposed by any government or state;</li>
			<li>the actions or omissions of the third parties;</li>
			<li>malfunctions in communications facilities which cannot reasonably be considered to be under our control and that may affect the accuracy or timeliness of messages you send to us;</li>
			<li>any losses or delays in transmission of messages arising out of the use of any internet access service provider or caused by any browser or other software which is not under our control; or</li>
			<li>any Malicious Code interfering with the Service
			(each, a “Force Majeure Event”).</li></h3>

		<h3>1. Our performance under the Contract shall be deemed suspended for the period that the Force Majeure Event continues and the time for performance will be extended for the duration of that period. We will use our reasonable endeavours to find a solution by which our obligations under the Contract may be resumed despite the Force Majeure Event.</h3>

		<h3>2. We do not bear any liability for you providing any incorrect details about your Recipient, including – but not limited to – errors and typos. If a Transaction has been picked up by another person than the Recipient, because of your failure to provide correct details, we will only be obliged to provide reasonable assistance to try to retrieve the funds back. We may charge you for any such assistance.</h3>

		<h2>Your responsibilities and obligations</h2>

		<h3>1. You will not use the Service unless you are at least 18 years old and you have a legal capacity to enter into legally binding contracts.</h3>
		<h3>2. The Fees for each Service we have provided to you have to be paid.</h3>
		<h3>3. You shall comply with these Terms and Conditions as well as with any applicable laws, rules and regulations.</h3>
		<h3>4. In relation to your registration and use of the Service you will:
			<li>provide us with accurate, current, complete and true evidence of your identity and any additional information or evidence we may require to confirm your identity;</li>
			<li>supply us with all information and documentation we may ask in order to process your transfer and to comply with any legal requirements applicable to us or to our partners (including without limitation, the Money Transfer Regulations and the Money Laundering Regulations 2017);</li>
			<li>update all information you provide to us to keep it accurate, current, complete and true;</li>
			<li>not use the Service for or in connection with any Prohibited Purpose or attempt to tamper, hack, modify, overload, or otherwise corrupt or circumvent the security and/or functionality of the Website and/or the Application or to infect it with any Malicious Code;</li>
			<li>Transfer money only from your own credit, debit card or bank account. You may not submit a Transaction order on behalf of another person;</li>
			<li>not open more than one account with us;</li>
			<li>keep your Reference Number secure, you must not share the Reference Number or any other transaction details with anybody except the Recipient;</li>
			<li>Use the Service to send money only to people that you know personally or to pay for goods and services purchased from suppliers of whom you have sufficient knowledge and whose identity you verified. You acknowledge that we have no control over the suppliers or over the goods and services for which you use our Services to make payments and we have no responsibility for the quality, safety, legality, or the delivery of such goods or services to you.</li></h3>

		<h3>1. You understand and accept that:
			<li>We are legally obliged to retain information about our users and the Transactions that we process for up to 5 years after termination of our relationship with you or as may be required from time to time by applicable law or by any regulatory authorities;</li>
			<li>All currency converted as part of the Service will be converted using our rate of exchange (as published on the Website and/or the Application or as may be communicated to you before we issue a Confirmation) and a FX Spread may apply. We reserve the right to make changes to our rate of exchange at any time without providing notice;</li>
			<li>We reserve the right to increase the FX Spread when the markets are closed (weekends, bank holidays) to prevent loss stemming from currencies fluctuating and ensure payouts for Senders (we will still display the rate that we are offering on the homepage and the final rate on the checkout page before confirming the Transaction);</li>
			<li>Some countries may impose minimum and maximum thresholds in relation to the amounts that can be sent through our Service;</li>
			<li>You will be liable to us for all losses which we suffer or incur in relation to any fraud or fraudulent activity by you or any breach of the Terms and Conditions by you;</li>
			<li>You must contact us as soon as possible if you believe or suspect that a Transaction was not executed properly or that the amount has not been received or was only partly received;</li>
			<li>It is your responsibility to inform the Recipient of the information he/she will need to provide in order to collect the money you transfer through the Service (such as photographic identification, the exact amount of the send order and the Reference Number).</li></h3>

		<h2>Fees and payment methods</h2>

		<h3>1. The prices for the Service consist of FX Spread and the Fees.</h3>
		<h3>2. Our Fees vary from time to time, but changes in the Fees will not apply to any orders in respect for which we have already sent you the Confirmation.</h3>
		<h3>3. If you send money via a recipient form you can pay for the Transaction via bank transfer, debit/credit card and alternative payment methods (sofort and ideal) where available. If you send money via the Application, you can pay for the Transaction via credit card or debit card.</h3>
		<h3>4. If you pay by debit card it will be charged as soon as we accept your request for the transfer.</h3>
		<h3>5. In case of a SWIFT transfer, we are not liable for any additional fees that the banks (either on the sending or on receiving side) may charge.</h3>
		<h3>6. When you pay by debit card and your order is refused by your bank or by the card issuer, your bank account will not be debited. However, your bank or the card issuer might hold the amount you tried to send. If this happens, you will need to contact your bank or card issuer to resolve the issue.</h3>
		<h3>7. Discounts on our Fees may be available through promotions that our partners or we may offer from time to time. Promotions are subject to terms and conditions and will be honored in accordance with their published terms.</h3>
		<h3>8. We currently don’t accept credit card payments due to the high additional costs for both parties.</h3>

		<h2>Cancellations and refunds</h2>

		<h3>1. You have a right to cancel a Transaction before payment has been made to the Recipient. If you have sent money via a recipient form, you may exercise this right by:
			<li>Emailing us at <a href="terms@KiyanPay.com">terms@KiyanPay.com</a>.</li></h3>

		<h3>2. If you have sent money via the Application, you may exercise this right by:
			<li>Cancelling in the Application; or</li>
			<li>Emailing us at <a href="terms@KiyanPay.com">terms@KiyanPay.com</a>.</li></h3>

		<h3>3. If you exercise your right to cancel the Transaction or if we cancel the Transaction, after you have already paid us the funds to be transferred:
			<li>we will refund money paid by you and intended for a Recipient only under the condition that it has not already been paid out to the Recipient in accordance with your original instructions prior to the cancellation request; and</li>
			<li>we reserve the right to retain the Fees charged for the Service (and we may charge you with those Fees if they have not yet been paid) unless the Transaction is cancelled because it was erroneously processed, not processed or delayed for which we are liable under the Dutch Money Transfer Regulations; and  </li>
			<li>If by the time you notify us of the cancellation of the transfer we have already sent the money to one of our partners in the country of destination, we may not be able to successfully cancel the order, given that the cancellation procedures with our partners differ in length and complexity, as well as often require communication across time zones.</li></h3>

		<h3>1. Refunds can take up to 7 working days to be processed and this depends as well on your bank’s processes, which are beyond our control.</h3>
		<h3>2. We reserve the right not to refund amounts smaller than £5 or €5 and charge a refund fee of £5 or €5 (according to the currency with which you pay us) if the refund has been requested by the customer with no fault of our own.</h3>
		<h3>3. If we do not transfer the money to the Recipient in accordance with an order within 30 days after your instructions and the funds have been received, provided that , you correctly followed our procedures and complied with all our policies, you may ask for a refund of the money transferred to us and intended for the Recipient.</h3>
		<h3>4. In any event, that you have not exercised your cancellation rights or we have not cancelled the Transaction as per this section, your Transaction expires after 1 month. In case the money has not been collected (in the case of cash transfers) or the Transaction requires a correction, we reserve the right to cancel your order without prior notice to you and to refund to you the amount that was to be transferred. The refund will not include the Fees paid for the Service, which we will retain.</h3>
		<h3>5. If, for any reason, the Transaction has not been cancelled in accordance with clauses 12.5 and 12.6 and Recipient does not collect the money within 13 months after the date it became available for collection, all rights of cancellation of the Transaction or refund of the money transferred or the Fees shall be deemed to be waived by you.</h3>
		<h3>6. If you choose to send money to a mobile phone number and send money to an invalid number, the Transaction will be cancelled after 5 days and the funds will get refunded to you via banking details you provided to us (with possible deduction of Fees if any).</h3>



		<h2>Promotions</h2>

		<h3>1. All promotions, bonuses or special offers run by KiyanPay are subject to promotion specific terms and conditions and any complimentary bonus credited to your account must be used in adherence with such terms and conditions.</h3>
		<h3>2. In certain cases, we may conclude promotions, bonuses or special offers before the end of the advertised period or may prolong the period of a promotion, bonus or special offer usually due to abuse, limited up-take of the offer or error.</h3>
		<h3>3. KiyanPay reserves the right to disqualify certain countries from promotional offers.</h3>
		<h3>4. In the event that KiyanPay reasonably suspects that a user of our Service has abused, is abusing or attempting to abuse a bonus or other promotion, or is likely to benefit through abuse or lack of good faith from a policy adopted by KiyanPay, then KiyanPay may, at its sole discretion, deny, withhold or withdraw from any user any bonus or promotion, or rescind any policy with respect to that user, either temporarily or permanently, or terminate that user’s access to his/her account.</h3>

		<h2>Complaints</h2>

		<h3>1. We value your feedback as it helps us improve our Service. We have established internal procedures for complaints. You can make a complaint in writing to us regarding any aspect of the service by:
			<li>post: 40 Gracechurch Street, London EC3V 0BT, United Kingdom</li>
			<li>email: <a href="complaints@kiyanpay.com">complaints@kiyanpay.com</a></li>
		</h3>
		<h3>1. We will investigate your complaint and come back to you with final response by the end of 15 business days after the day in which we received a complaint.</h3>
		<h3>2. If you are still dissatisfied with the manner in which we have dealt with your complaint or the outcome of it, you have a right to refer your complaint to the Financial Ombudsman Service, South Quay Plaza, 183 Marsh Wall, London E14 9SR, Tel No 0800 0234 567, Email: <a href="complaint.info@financial-ombudsman.org.uk">complaint.info@financial-ombudsman.org.uk</a></h3>
		<h3>For more information a Complaints Handling Policy may be provided to you upon your request.</h3>

		<h2>Money transfer and the payment services regulations</h2>

		<p>The Payment Services Regulations 2017 (S.I. 2017/752) (hereinafter called “the Regulations”) govern the transfer of money to recipients within the European Economic Area (being all members states of the European Union, together with Norway, Iceland and Liechtenstein), where the transfer of funds is carried out in Euros, Sterling or the currency of another EEA state which has not adopted the Euro as its currency. The Regulations regulate payment services, which have an electronic component and place payment services providers into certain categories as well as require certain payment institutions to be authorised by the FCA and to follow conduct of business rules. Please contact us at <a href="terms@KiyanPay.com">terms@KiyanPay.com</a> for more information.</p>

		<h2>Written communications</h2>

		<p>Applicable laws and regulations require that some of the information we send to you or communications between you and us should be in writing. You agree to receive such written communications electronically. You also agree that electronic means of communication shall be effective for the purpose of the Contract between you and us. The foregoing does not affect your statutory rights.</p>

		<h2>Notices and communications</h2>

		<p>All notices given to us must be in the English Language and sent to KiyanPay: 40 Gracechurch Street, London EC3V 0BT, United Kingdom. We may give notices to you in connection with any aspect of the Service or any order either through the e-mail address or the postal address that you provided to us or in any other way permitted pursuant these Terms and Conditions. Notices to you will be deemed received and properly served immediately after an e-mail is sent to you at the address you provided, or where a notice is sent to your postal address, one day after the date of posting in the case of domestic notices and 6 days in the case of international mail.</p>

		<h2>Transfer of rights and obligations</h2>

		<h3>1. We shall be entitled, without your consent, to transfer our rights and obligations under these Terms and Conditions and under any Contract to any of our affiliates or to any entity or person that acquires our business. Any such transfer of rights and obligation will have effect upon notice being given to you (including notices given through the Website or the Application).</h3>
		<h3>2. We are entitled to perform our obligations to you through subcontractors, agents and other third parties.</h3>
		<h3>3. You may only transfer your rights and obligations under the Contract if we have agreed for this in writing.</h3>

		<h2>Waiver</h2>

		<h3>1. If we fail, at any time during the term of the Contract, to insist upon strict performance of any of your obligations under the Contract or any clause of these Terms and Conditions, or if we fail to exercise any of the rights or remedies to which we are entitled under the Contract or by law, this will not constitute a waiver of such rights or remedies and will not relieve you from compliance with such obligations.</h3>
		<h3>2. A waiver by us of any default will not constitute a waiver of any subsequent default.</h3>
		<h3>3. No waiver by us of any term in these Terms and Conditions will be effective unless it is expressly stated to be a waiver and is communicated to you in writing in accordance with these Terms and Conditions.</h3>

		<h2>Severability</h2>

		<p>If any court or competent authority holds that any of the provisions of these Terms and Conditions or any provisions of the Contract are invalid, unlawful or unenforceable to any extent, that shall not affect the other terms of these Terms and Conditions or the Contract which will continue in full force and effect to the fullest extent permitted by law.</p>

		<h2>Entire agreement</h2>

		<h3>1. These Terms and Conditions and any document expressly referred to in them constitute the whole agreement between us and you and supersede all previous discussions, correspondence, negotiations, previous arrangement, understanding or agreement between us and you relating to the subject matter hereof.</h3>
		<h3>2. You acknowledge that, in entering into the Contract and accepting these Terms and Conditions, you do not rely on, or will have no remedies in respect of, any representation or warranty (whether made innocently or negligently) that is not expressly set out in these Terms and Conditions or the documents referred to in them.</h3>

		<h2>Our right to vary these terms and conditions</h2>

		<h3>1. We reserve the right to revise, amend or replace these Terms and Conditions from time to time. The changed Terms and Conditions as of the effective date as referenced in clause 22.2 will apply to any newly placed Transaction orders as of such effective date.</h3>
		<h3>2. Changes to this Terms and Conditions which are (1) more favourable to you; (2) is required by law; or (3) relates to the addition of a new service or extra functionality to the existing Service; or (4) any other change which neither reduces your rights nor increase your responsibilities, will come into effect immediately. Changes to exchange rates shall come into effect immediately without notice and you shall not have the right to object to such a change. You may always determine to cease the use of our Service upon such change.</h3>
		<h3>3. Our Terms and Conditions in force at the time that you order Service from us will have effect between you and us for the purpose of that order. We may notify you of a change to the Terms and Conditions after you place an order but before we send you the Confirmation, in which case, unless you notify us within a reasonable period of time and in any event within seven days that you wish to cancel the order, the revised Terms and Conditions will apply.</h3>

		<h2>Third party rights</h2>

		<p>A person who is not a party to this Agreement shall have no rights to enforce the provisions of this Agreement under the Contracts (Rights of Third Parties) Act 1999.</p>

		<h2>Law and jurisdiction</h2>

		<p>Contracts for the purchase of our services using the Website or the Application and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) will be governed by English law. Any dispute or claim arising out of or in connection with such contracts or their formation (including non-contractual disputes or claims) will be subject to the non-exclusive jurisdiction of the courts of England and Wales. The foregoing shall be without prejudice to your statutory rights.</p>

		<h2>Intellectual property</h2>

		<h3>1. The Website and the Application, the content, the name KIYANPAY and other names, logos, signs, domain names, email addresses and other indications of origin displayed on the Website or the Application relating to our products and/or services and all intellectual property relating to them and contained in them (including but not limited to copyrights, patents, database rights, design right, trade marks,) (“IPRs”) are owned by us, our affiliates or third party licensors. Other names and logos of third party product, service and companies displayed on the Website may be the trademarks of third parties. You shall not acquire any right, title or interest in any such IPRs by reason of the Service or the Contract and all right, title and interest in and to the Website and the Application shall remain our property and/or the property of such other third parties.</h3>
		<h3>2. You may use the Website and the Application only for the purpose of the bona fide use of our Service as an individual consumer or business customer and only as permitted by these Terms and Conditions or described on the Website. You are authorized solely to view and to retain a copy of the pages of the Website for your own personal use. The Website and the Application and the Service may not be used for the purpose of testing the Service or to obtain information about the Service or about us. You may not duplicate, publish, modify, create derivative works from, participate in the transfer or sale of, post on the internet, or in any way distribute or exploit the Website, the Application or any portion thereof for any public or commercial use without our express written permission. You may not: (a) use any robot, spider, scraper or other automated device to access the Website or the Application or to use the Service; and/or (b) remove or alter any copyright, trade mark or other proprietary notice or legend displayed on the Website (or printed pages of the Website)</h3>

		<h2>How to earn a referral credit</h2>

		<p>Existing KiyanPay users can earn a referral credit of 10 GBP (or equivalent*) towards a qualifying transaction if a friend and new KiyanPay user clicks on the unique referral link, or enters the unique referral code upon registration, and completes a qualifying transaction on the KiyanPay platform. There’s no limit to the number of referrals that each user can send or the number of referral credits they can earn, but only one referral code can be used per qualifying transaction. Referral codes can’t be used in combination with any other promotion code. It is also not possible to use promocodes/referral credits when sending money via a phone number.</p>

		<h2>What is a qualifying transaction?</h2>

		<p>A qualifying transaction must have a total sending value* of at least 100 GBP (or equivalent**), be to another country and in the case of the user receiving the referral, it must be their first transaction. If the first transaction of the user is less than the qualifying amount, the referral code can be used in a subsequent transaction with the same or higher total sending value as the qualifying amount. There is no expiry date on the referral code.</p>

		<h2>How to share referral codes</h2>

		<p>Referral codes should only be shared with people the user knows personally and should be shared on a platform where there’s a reasonable basis that the people are personal friends. KiyanPay reserves the right to deny the referral amounts if there’s suspicion of manipulation of the referral scheme, such as creating duplicate accounts with different contact details, sharing in unsolicited ways (spam) and anything else that KiyanPay deems to be not in good faith, abusive and a breach of this agreement.</p>

		<h2>Liability and governing law</h2>

		<p>These terms and conditions are in accordance with the laws of England and Wales, and KiyanPay reserves the right to change these terms and conditions and to terminate the referral scheme at any point in time. KiyanPay also accepts no liability for any use of the referral programme that does not comply with this agreement.

		* 10 GBP / 10 EUR / 10 CHF / 100 SEK / 100 DKK / 100 NOK ** 100 GBP / 100 EUR / 100 CHF / 1000 SEK / 1000 DKK / 1000 NOK</p>

	</div>
</div>

