
<section class="section-l">
  <div class="overlay">
        <div class="min">
          <h1>Here for you</h1><br>
          <p>Looking for anything?</p>
          	<div class="search_wrap search_wrap_3">
			<div class="search_box">
				<input type="text" class="on-page-search" placeholder="search...">
				<div class="btn btn_common">
					<i class="fas fa-search"></i>
				</div>
			</div>
			</div>

<div class="search_wrap search_wrap_3">
	<div class="search_box">
		<form name="f1" id="f1" action="">
    <br />
    <input type="text" class="t1" name="t1" value="the" placeholder="search..."/>
    <input type="submit" name="b1" value="Find" />
    <br />
</form>
</div>
</div>
         
           <img src="https://i.ibb.co/3RRZyNS/Untitled-Artwork-40.png" alt="" />
        </div>
     </div>      
</section>




<div class="text-wrapper">


  <div class="sticky">
    <div class="text-scroll">
    	<br><br>
    	<a href="#1">Accounts</a><br><br><br>
        <a href="#2">Business Account</a><br><br><br>
        <a href="#3">Personal Account</a><br><br><br>
        <a href="#4">Security</a><br><br><br>
        <a href="#5">Currencies</a><br><br><br>
        <a href="#6">Payments</a><br><br><br>
        <a href="#7">Transfer</a><br><br><br>
        <a href="#8">CHAPS & BACS</a><br><br><br>
    </div>
  </div>


  <div class="text-content">

	<div class="article-section" id="1">
		<br><h1>Accounts</h1>

		<h2>- How do I open a personal/ business account?</h2>


		<p>Very simple, visit our website www.Kiyanpay.com and click on sign up. Please remember to have identification with you so that your account can be opened in less than 15 mins!</p>

		<h2>- What age do I need to be to apply for an account?</h2>

		<p>Currently you must be 18 or older to hold an account with Kiyanpay.</p>

		<h2>- Do I need to be a UK resident to apply for an account?</h2>

		<p>Yes, you currently need to be resident in the UK to hold an account with KiyanPay. We hope to expand in the near future.</p>

		<h2>- What documents can I use to open an account?</h2>

		<h2>Documents for a company :</h2>

		<p><li>Certificate of incorporation/registration;</li>
		   <li>Recent excerpt from a state company registry;</li>
           <li>Certificate of incumbency;</li>
           <li>Certificate of good standing;</li>
           <li>Memorandum/articles of incorporation/association/registration;</li>
           <li>Another similar document;</li></p>

        <h2>2. A document allowing to establish all the UBOs of the company, such as:</h2>

        <p><li>Shareholder registry;</li>
		   <li>Statement of information;</li>
           <li>Recent excerpt from a state company registry;</li>
           <li>Certificate of incumbency;</li>
           <li>Memorandum/articles of incorporation/association/registration;</li>
           <li>Trust agreement;</li>
           <li>Another similar document.</li></p>	

        <h2>Individuals:</h2>

        <p><li> UK/EEA/EU and Swiss passport</li>
		   <li>Valid full UK photocard Driving licence</li>
           <li>Valid full UK provisional photocard Driving licence</li>
           <li>Valid full EU member state national ID photocard</li>
           <li>Valid firearm certificate or shotgun licence</li>
           <li>Valid old style UK Driving Licence (no photo)</li>
           <li>Valid Passport/EU national ID Card in date</li>
           <li>HMRC documentation</li>
           <li>Valid passport* with current Visa (with at least six months left on it) or a Biometric Resident Permit (Both sides of Biometric Resident permit required).</li></p>	

        <h2>- How long does it take for the account to be opened?</h2>

        <p>The account will be opened on the same day. If we do require further information we will contact you within 24 hours of requesting the account to be opened.</p>

        <h2>- Do you need a selfie when signing up?</h2>

        <p>We will need a selfie for verification and for us to stay compliant with the regulations. This is for us to accept an account to be opened online as we are not able to see your face in person. We use selfie photo to check your face matches the photo ID. This will prevent identity fraud.</p>
	</div>
	<div class="article-section" id="2">
		<br><h1>Business Account</h1>

		<h2>- How do I verify my business?</h2>

		<p>There are a few easy steps to complete registration, let me tell you how!
		We would love to know more about yourself- - As you will be the primary account holder, we will need information to verify yourself such as DOB, address, country of residence etc.
		We love to know more about your business – we will ask for your business name, business sector and confirmation of directors and shareholders.
		Selfie time – you will be prompted to upload the documentation based on the information you have provided and take a photo.
		That’s it! – your account would be opened within 15 minutes. If we do require further information we will contact you with 24 hours of requesting the account opening.</p>

		<h2>- Why do I need to verify my business?</h2>

		<p>We want to make sure your money is safe with us and to do so verification is one of the ways and comply with the financial regulations. This helps us verify who you are and if your business is currently trading. The process is designed to be quick and easy for you.</p>
</div>
<div class="article-section" id="3">
	<h1>Personal Account</h1>

	<h2>- How do I verify myself (personal)?</h2>

	<p>There are a few easy steps to complete registration, let me tell you how!
	We would love to know more about yourself- As you will be the primary account holder, we will need information to verify yourself such as DOB, address, country of residence etc.
	Selfie time – you will be prompted to upload the documentation based on the information you have provided and take a photo.
	That’s it! – your account would be opened within 15 minutes. If we do require further information we will contact you within 24 hours of requesting the account opening.</p>

	<h2>- Why do I need to verify myself (personal)?</h2>

	<p>As a financial institution we are required to gain this information from our customer’s that would like to use our service. This will eliminate many things such as identity fraud and money laundering. This will keep us all safe and most importantly your money safe.</p>

</div>
<div class="article-section" id="4">
	<h1>Security</h1>

	<h2>- Is my money safe with KiyanPay?</h2>

	<p>We're signed up to the Financial Services Compensation Scheme (FSCS), which mean your money is protected up to a value of £85,000.</p>

	<h2>- What do you do with my information?</h2>

	<p>All information provided will be managed and recorded on our secure data basis. This is recorded to be compliant with the regulations set by our regulators. This information is not passed on to third party’s unless consented to by our privacy policy. You are able to deactivate your account at any time however we can’t delete your information.</p>

	<h2>- I don’t recognise a payment what do I do?</h2>

	<p>Please contact us through the contact Centre straight away so we can assist with the problem. We have a very helpful team that will assist you.</p>

	<h2>- I’ve received a suspicious email – what do I do?</h2>

	<p>Please do not click on any of the links its most likely a scam, we will never send an email asking for internet banking or personal information. Please forward the email to info@kiyanpay.com. Once sent please delete the email.</p>

	<h2>- How do I report a scam?</h2>

	<p>Sometimes scams are hard to identify and you might have been tricked by a fraudster. Please contact us through the contact Centre straight away so we can assist with the problem. We have a very helpful team that will assist you
</p>
</div>
<div class="article-section" id="5">
	<h1>Currencies</h1>

	<h2>- What countries and currencies do you support?</h2>

	<p>USD/ EUR/ CAD/ NZD/ AUD – the currencies we support.</p>
</div>
<div class="article-section" id="6">
	<h1>Payments</h1>

	<h2>- What is a Direct debit?</h2>

	<p>Direct debits are a preferred way for merchants to request for consistent long or short term payments. This is done by a customer's permission for merchants to claim payments from the account. This can be canceled at any time through the app. We do suggest contacting the merchant to cancel the direct debit on their side so that they do not request the payment again</p>

	<h2>- How do I make a payment?</h2>

	<p>The payments will be made through your account, you can send the funds at any time you wish without contacting us directly. However there will be cut of times for particular payments such SEPA which is 2pm and will be sent the following day.</p>

	<h2>- What is a Faster payment?</h2>

	<p>Faster payments are made by yourself through the app. Once you have entered and confirmed the details, the payment will be sent immediately. The money will be received within minutes. Some banks can take 2 hours to clear the faster payment so please give the payment some time also double check all the details before sending the payment.</p>
</div>
<div class="article-section" id="7">
	<h1>Transfer</h1>

	<h2>- How do I correct a mistake or cancel a transfer?</h2>

	<p>Transfers can be canceled or corrected before the payment has been released. This can be done through the contact centre. However once the payment has been released we can try and make a payment recall but there is no guarantee the money will be returned.</p>

	<h2>- How can I check a transfer status?</h2>

	<p>There will be a live update on each transfer stating Pending/Successful.</p>
</div>
<div class="article-section" id="8">
	<h1>CHAPS & BACS</h1>

	<h2>- What is CHAPS?</h2>

	<p>Clearing House Automated Payment System is also known as CHAPS. These payments are usually for high-value transactions like buying a car or a property. The request for a CHAPS payment to be received the same day will be before 3pm. After 3pm will mean the payment will be received the following day.</p>

	<h2>- What is BACS?</h2>

	<p>BACS also known as Bankers’ Automated Clearing System. This service is mostly used to pay salaries, wages or benefits. This tends to be a preferred payment system for employee expenses, pension and tax credits. If a BACS transfer is expected then please allow 3 days for the payment to be received into your account.</p>
</div>
	</div>
</div>


<script>
	var TRange = null;

function findString(str) {
    if (parseInt(navigator.appVersion) < 4) return;
    var strFound;
    if (window.find) {
        // CODE FOR BROWSERS THAT SUPPORT window.find
        strFound = self.find(str);
        if (strFound && self.getSelection && !self.getSelection().anchorNode) {
            strFound = self.find(str)
        }
        if (!strFound) {
            strFound = self.find(str, 0, 1)
            while (self.find(str, 0, 1)) continue
        }
    } else if (navigator.appName.indexOf("Microsoft") != -1) {
        // EXPLORER-SPECIFIC CODE        
        if (TRange != null) {
            TRange.collapse(false)
            strFound = TRange.findText(str)
            if (strFound) TRange.select()
        }
        if (TRange == null || strFound == 0) {
            TRange = self.document.body.createTextRange()
            strFound = TRange.findText(str)
            if (strFound) TRange.select()
        }
    } else if (navigator.appName == "Opera") {
        alert("Opera browsers not supported, sorry...")
        return;
    }
    if (!strFound) alert("String '" + str + "' not found!")
        return;
};

document.getElementById('f1').onsubmit = function() {
    findString(this.t1.value);
    return false;
};
</script>
