
<section class="section-l">
  <div class="overlay">
        <div class="min">
          <h1>Here for you</h1><br>
          <p>Send us a message and we will come back to you in 24 hours.</p>
            <img src="https://i.ibb.co/3RRZyNS/Untitled-Artwork-40.png" alt="" />
        </div>
     </div>      
</section>

