
<div class="light-green">
  <div class="container-2">
      <h2>Here for you</h2>
      <div class="section-l-inner">
        <p>Send us a message and we will come back to you in 24 hours.
        </p><br><br>
      </div>
  </div>  
</div> 

<div class="container-fluid contact" id="contact">
  <div class="container">
    <form>
      <h2>Contact Us</h2>
      <input type="text" placeholder="Name" id="name" name="name" class="full-half">
      <input type="email" placeholder="Email" id="email" name="email" class="full-half">
      <input type="text" placeholder="Subject" id="subject" name="subject">
      <textarea placeholder="Message" id="message" name="message"></textarea>
      <input type="submit" value="Send">
    </form>
  </div>
</div>