<%= render 'shared/navbar' %>

<div class="banner-currency">
  <img src="https://i.ibb.co/7z730Hn/Untitled-Artwork-13.png" alt="">
  <p>As promised, KiyanPay doesn’t let borders stop us. That’s why you pay 9x less in fees when you’re transferring money with us than your high street bank. <br><br>

    We’re also big on getting you access to as many currencies as possible. Here is what we currently offer, we’re working on expanding our list so if there’s something you want that you don’t see get in touch with us and we’ll pass it on to our team!
  </p>
</div>

<div class="currencies-show">
  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/5hGqnQM/australia.png" alt="">
    </div>
    <p>AUD Australian Dollar</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/DVQc5B7/bahrain.png" alt="">
    </div>
    <p>BHD Bahrain Dinar</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/bND0Bd9/bulgaria.png" alt="">
    </div>
    <p>BGN Bulgarian Lev</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/qM34GXm/canada.png" alt="">
    </div>
    <p>CAD Canadian Dollar</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/cJ3pb5F/china.png" alt="">
    </div>
    <p>CNY Chinese Yuan</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/T1d8MGF/croatia.png" alt="">
    </div>
   <p>HRK Croatian Kuna</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/m6zrYdx/czech-republic.png" alt="">
    </div>
    <p>CZK Czech Koruna</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/58r0ZMW/denmark.png" alt="">
    </div>
    <p>DKK Danish Krone</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/84jGxHc/european-union.png" alt="">
    </div>
    <p>EUR Euro</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/p3s9BbC/hong-kong.png" alt="">
    </div>
    <p>HKD Hong Kong Dollar</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/5kMTfx4/hungary.png" alt="">
    </div>
    <p>HUF Hungarian Forint</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/TgPR7jZ/india.png" alt="">
    </div>
    <p>INR Indian Rupee</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/C6hMZps/monaco.png" alt="">
    </div>
   <p>IDR Indonesian Rupiah</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/b2NTRm8/israel.png" alt="">
    </div>
    <p>ILS Israeli Shekel</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/drHXLT1/japan.png" alt="">
    </div>
    <p>JPY Japanese Yen</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/27jrbMv/kenya.png" alt="">
    </div>
    <p>KES Kenyan Shilling</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/PtFfJSr/kuwait.png" alt="">
    </div>
    <p>KWD Kuwait Dinar</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/wR3z8s0/malaysia.png" alt="">
    </div>
    <p>MYR Malaysian Ringgit</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/1ftR2t1/mexico.png" alt="">
    </div>
    <p>MXN Mexican Peso</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/Yjh7r44/new-zealand.png" alt="">
    </div>
    <p>NZD New Zealand Dollar</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/zF649Jg/norway.png" alt="">
    </div>
    <p>NOK Norwegian Krone</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/f8zHNDh/oman.png" alt="">
    </div>
    <p>OMR Omani Rial</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/jWtDZBD/philippines.png" alt="">
    </div>
    <p>PHP Philippine Peso</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/pbLZkQg/poland.png" alt="">
    </div>
    <p>PLN Polish Zloty</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/XzxpWr3/qatar.png" alt="">
    </div>
    <p>QAR Qatar Rial</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/DrkYcwj/romania.png" alt="">
    </div>
    <p>RON Romanian Leu</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/GFb0cDp/russia.png" alt="">
    </div>
    <p>RUB Russian Ruble</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/TBnjbKz/saudi-arabia.png" alt="">
    </div>
    <p>SAR Saudi Riyal</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/RDkdW6q/singapore.png" alt="">
    </div>
    <p>SGD Singapore Dollar</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/HtNnShX/south-africa.png" alt="">
    </div>
    <p>ZAR South African Rand</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/GCVjpyS/sweden.png" alt="">
    </div>
    <p>SEK Swedish Krona</p>
  </div>


  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/Fh2Fdxg/switzerland.png" alt="">
    </div>
    <p>CHF Swiss Franc</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/phZQrrs/thailand.png" alt="">
    </div>
    <p>THB Thai Baht</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/PwFS3Xm/turkey.png" alt="">
    </div>
   <p>TRY Turkish Lira</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/4mKQj5d/uganda.png" alt="">
    </div>
    <p>UGX Ugandan Shilling</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/hMKddv9/united-kingdom.png" alt="">
    </div>
    <p>GBP UK Sterling</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/ZVZZTQ2/united-arab-emirates.png" alt="">
    </div>
    <p>AED United Arab Emirates Dirham</p>
  </div>

  <div class="button-currency">
    <div class="currency-image">
      <img src="https://i.ibb.co/MDd6B1m/united-states.png" alt="">
    </div>
   <p>USD US Dollar</p>
  </div>

</div>

<div class="button-back"><a rel=noopener href="/" class="brk-btn">BACK</a></div>



