
<%= render 'shared/navbar' %>

<div class="banner-currency">
  <img src="https://i.ibb.co/g9kQ4Jt/Untitled-Artwork-4.png" alt="">
  <h4>Fraud Protection</h4> <br><br>
  <p>We’re big on keeping your money safe while respecting your privacy. That’s why we’ve got pretty much every type of fraud protection working on keeping your account safe.
  </p>
</div>

<section class="section-t">
  <div class="container">
    <div class="right-side">
  <svg class="Hero__image-grid anim-hero" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 590.91 632.66">
    <defs>
      <clipPath id="heroclip1">
        <rect class="hero__swipe-1" id="heroclip1Rect" x="101.31" y="51.24" width="488.79" height="221.87" fill="#fff" data-svg-origin="590.1000061035156 162.17499923706055" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

      <clipPath id="heroclip2">
        <rect class="hero__swipe-2" id="heroclip1Rect" x="195.36" y="293.94" width="292.4" height="268.6" fill="#fff" data-svg-origin="487.75999450683594 428.24000549316406" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

      <clipPath id="heroclip3">
        <rect class="hero__swipe-3" id="heroclip3Rect" x="1.73" y="233.41" width="174.53" height="162.61" fill="#fff" data-svg-origin="176.25999879837036 314.71500396728516" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

      <clipPath id="heroclip4">
        <rect class="hero__swipe-4" id="heroclip4Rect" x="100.03" y="405.79" width="75.83" height="73.12" fill="#fff" data-svg-origin="175.86000061035156 442.3500099182129" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

    </defs>
    <g class="fouc fouc--hero" opacity="0" data-svg-origin="591 314.5249938964844" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;">
      <circle class="hero__circle" cx="90.18" cy="79.56" r="50" fill="#C3C7E5" data-svg-origin="90.18000030517578 79.55999755859375" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>
      <circle class="hero__circle" cx="488.39" cy="563.49" r="30" fill="#FEAF2D" data-svg-origin="488.3900146484375 563.489990234375" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>

      <rect class="hero__swipe-1" x="102" y="52" width="488" height="220" fill="#FEAF2D" data-svg-origin="590 162" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      <rect class="hero__swipe-2" x="196" y="294" width="292" height="268" fill="#C3C7E5" data-svg-origin="488 428" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      <rect class="hero__swipe-3" x="2" y="234" width="173" height="162" fill="#C3C7E5" data-svg-origin="175 315" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      <rect class="hero__swipe-4" x="101" y="406" width="75" height="73" fill="#FEAF2D" data-svg-origin="176 442.5" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>

      <image clip-path="url(#heroclip1)" href="https://source.unsplash.com/iusJ25iYu1c" preserveAspectRatio="xMidYMid slice" x="101" y="51" width="490" height="223"></image>
      <image clip-path="url(#heroclip2)" href="https://source.unsplash.com/VvAcrVa56fc" preserveAspectRatio="xMidYMid slice" x="195" y="293" width="294" height="270"></image>
      <image clip-path="url(#heroclip3)" href="https://source.unsplash.com/-JJg90OAnWI" preserveAspectRatio="xMidYMid slice" x="1" y="233" width="176" height="164"></image>
      <image clip-path="url(#heroclip4)" href="https://source.unsplash.com/DoWZMPZ-M9s" preserveAspectRatio="xMidYMid slice" x="99" y="404" width="78" height="76"></image>
    </g>
  </svg>
    </div>
    <div class="slide-left">
      <h1>We’re keeping an eye on your accounts.</h1><br>
      <p>
        Not in a creepy way… we’ve just got some pretty clever technology that can let us know if there is any unusual activity occurring on your account. <br><br>
        Whether you might be a victim of fraud or your card may have been stolen we’re going to alert you if we think any spending or account activity is out of the ordinary. <br><br>
        There are also a few things to look out for if you don’t recognise a payment on your account.  <br><br><br><br>
      </p><br><br><br>
    </div>
  </div>
</section>

<section class="timeline">
  <ul>
    <li>
      <div class="text-area">
        <img src="https://i.ibb.co/5hGqnQM/australia.png" alt="">
        <h6>Pending Payments</h6>
        <p>Very few retailers will take their money right away. Your account may display the charge before it has been processed. Double-check that the amounts line up before panicking if they don’t get in touch with our customer service team and we can take a look. </p>
      </div>
    </li>
    <li>
      <div class="text-area">
        <img src="https://i.ibb.co/5hGqnQM/australia.png" alt="">
        <h6>Unusual Merchant Names</h6>
        <p>A lot of the places you shop will be owned by bigger stores and this is where your payment will be headed. So, if you don’t recognise the name or reference of a payment try and locate the amount first. If you just spent £30 at Zara and you have a £30 payment to the Inditex Group then you shouldn’t worry about the transaction. </p>
      </div>
    </li>
    <li>
      <div class="text-area">
        <img src="https://i.ibb.co/5hGqnQM/australia.png" alt="">
        <h6>Subscriptions</h6>
        <p>Unfortunately, if you’ve forgotten to cancel your free trial and you’ve been charged for an unwanted subscription we can’t refund your money as you technically agreed to the charge when signing up for a free trial.</p>
      </div>
    </li>
  </ul>
</section>

<section class="section-m">
  <div class="container">
    <div class="slide-left">
      <p>
        However, we have several features to help you keep track of your subscriptions and stay on top of your direct debit charges. Check them out here <br><br>
        If you’ve gone through all of the checks and you’re still worried about a payment then there are a few things that you can do:

      </p><br><br><br>
    </div>
    <div class="right-side">
          <svg class="Hero__image-grid anim-hero" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 590.91 632.66">
      <defs>
        <clipPath id="heroclip1">
          <rect class="hero__swipe-1" id="heroclip1Rect" x="101.31" y="51.24" width="488.79" height="221.87" fill="#fff" data-svg-origin="590.1000061035156 162.17499923706055" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        </clipPath>

        <clipPath id="heroclip2">
          <rect class="hero__swipe-2" id="heroclip1Rect" x="195.36" y="293.94" width="292.4" height="268.6" fill="#fff" data-svg-origin="487.75999450683594 428.24000549316406" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        </clipPath>

        <clipPath id="heroclip3">
          <rect class="hero__swipe-3" id="heroclip3Rect" x="1.73" y="233.41" width="174.53" height="162.61" fill="#fff" data-svg-origin="176.25999879837036 314.71500396728516" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        </clipPath>

        <clipPath id="heroclip4">
          <rect class="hero__swipe-4" id="heroclip4Rect" x="100.03" y="405.79" width="75.83" height="73.12" fill="#fff" data-svg-origin="175.86000061035156 442.3500099182129" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        </clipPath>

      </defs>
      <g class="fouc fouc--hero" opacity="0" data-svg-origin="591 314.5249938964844" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;">
        <circle class="hero__circle" cx="90.18" cy="79.56" r="50" fill="#114138" data-svg-origin="90.18000030517578 79.55999755859375" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>
        <circle class="hero__circle" cx="488.39" cy="563.49" r="30" fill="#FEAF2D" data-svg-origin="488.3900146484375 563.489990234375" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>

        <rect class="hero__swipe-1" x="102" y="52" width="488" height="220" fill="#FEAF2D" data-svg-origin="590 162" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        <rect class="hero__swipe-2" x="196" y="294" width="292" height="268" fill="#114138" data-svg-origin="488 428" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        <rect class="hero__swipe-3" x="2" y="234" width="173" height="162" fill="#114138" data-svg-origin="175 315" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        <rect class="hero__swipe-4" x="101" y="406" width="75" height="73" fill="#FEAF2D" data-svg-origin="176 442.5" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>

        <image clip-path="url(#heroclip1)" href="https://source.unsplash.com/n1amn-SHKzw" preserveAspectRatio="xMidYMid slice" x="101" y="51" width="490" height="223"></image>
        <image clip-path="url(#heroclip2)" href="https://source.unsplash.com/11SgH7U6TmI" preserveAspectRatio="xMidYMid slice" x="195" y="293" width="294" height="270"></image>
        <image clip-path="url(#heroclip3)" href="https://source.unsplash.com/SJjhbJhzhAs" preserveAspectRatio="xMidYMid slice" x="1" y="233" width="176" height="164"></image>
        <image clip-path="url(#heroclip4)" href="https://source.unsplash.com/Fhwg7BrGUpk" preserveAspectRatio="xMidYMid slice" x="99" y="404" width="78" height="76"></image>
      </g>
    </svg>
    </div>
  </div>
</section>

<section class="timeline">
  <ul>
    <li>
      <div class="text-area">
        <img src="https://i.ibb.co/5hGqnQM/australia.png" alt="">
        <h6>1. Freeze your card</h6>
        <p>Once our KiyanPay banking app is available on the app store you will be able to control your current account card from there. </p>
      </div>
    </li>
    <li>
      <div class="text-area">
        <img src="https://i.ibb.co/5hGqnQM/australia.png" alt="">
        <h6>2. Report the issue</h6>
        <p> Make sure to get in contact with support@kiyanpay.com and inform your local police of the fraud/scam. We can kickstart the process to get your money back! </p>
      </div>
    </li>
  </ul>
</section>

    <h1>Nothing is coming or going… without your say so.</h1>



<div class="button-back"><a rel=noopener href="/" class="brk-btn">BACK</a></div>

<script>
  document.addEventListener('turbolinks:load', () => {
    (function () {
    "use strict";

    // define variables
    var items = document.querySelectorAll(".timeline li");

    // check if an element is in viewport
    // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
    function isElementInViewport(el) {
      var rect = el.getBoundingClientRect();
      return (
        rect.top >= 0 &&
        rect.left >= 0 &&
        rect.bottom <=
          (window.innerHeight || document.documentElement.clientHeight) &&
        rect.right <= (window.innerWidth || document.documentElement.clientWidth)
      );
    }

    function callbackFunc() {
      for (var i = 0; i < items.length; i++) {
        if (isElementInViewport(items[i])) {
          items[i].classList.add("in-view");
        }
      }
    }

    // listen for events
    window.addEventListener("load", callbackFunc);
    window.addEventListener("resize", callbackFunc);
    window.addEventListener("scroll", callbackFunc);
  })();
});

</script>
