 
  <!-- Showcase -->
<section class="section-a">
  <div class="container-1">
    <div>
      <div class="slide-left">
      <h1>Banking <br>For All</h1>
      <p>
        Open a free bank account in minutes. <br>No hidden fees, no fuss. Just pure,<br> straightforward banking.
      </p><br><br>
             <a href="https://gate.kiyanpay.com/signup?type=personal" class="brk-btn">JOIN US TODAY</a>
      </div>
    </div>
    <div class="right-side">
      <img src="https://i.ibb.co/SmnzHkD/Untitled-Artwork-35.png" class="floating" />
    </div>
  </div>
</section>

    <!-- Large Text -->
<section id="about" class="section-c">
  <div class="container-2">
    <div class="float-l">
      <img src="https://i.ibb.co/RBHYFhm/Untitled-Artwork-37.png" class="floating" />
    </div>
    <div class="section-b-inner py-5"><br><br>
      <h2>As simple as it gets</h2>
      <p>We’ve put together all the essential features you really need from a bank into one easy-to-use platform, and removed everything else. No distractions. Because managing your finances should be as simple as possible, but no simpler!
      </p>
    </div>
    <div class="float-r">
      <img src="https://i.ibb.co/88DwvDy/Untitled-Artwork-36.png" class="floating" />
    </div>
  </div>   
</section>


<div class="cardsh">
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="https://i.ibb.co/SJWFCjh/Untitled-Artwork-24.png" alt="las vegas">
            </div>
            <div class="details">
                <h3>Quick Verification</h3>
                <p>We have a secure, fully automated verification process that gets your account ready in minutes, so you can start banking with your new account.<br></p>
            </div>
        </div>
        <div class="card card2">
            <div class="container">
                <img src="https://i.ibb.co/tPz8Q2P/Untitled-Artwork-4.png" alt="New York">
            </div>
            <div class="details">
                <h3>Fully Protected</h3>
                <p>We're signed up to The Financial Services Compensation Scheme (FSCS), which mean your money is protected up to a value of £85,000.</p>
            </div>
        </div>
        <div class="card card3">
            <div class="container">
                <img src="https://i.ibb.co/j5SV3gz/Untitled-Artwork-25.png" alt="Singapore">
            </div>
            <div class="details">
                <h3>Easy Transfers</h3>
                <p>Send money to those that matter to you with a few clicks. We've made transfer process as easy as possible for you.<br><br></p>
            </div>
        </div>
    </div>
</div>


<section class="section-a">
  <div class="container-3">
    <div class="left-s">
      <img src="https://i.ibb.co/CnZWTNV/Untitled-Artwork-16-copy.png" class="floating" />
    </div>
    <div>
      <h1>Centred Around You</h1><br>
      <p>
        Have you ever felt like your bank talks down to you? Same! We know how painful it is to deal with high-street banks. They are slow, unresponsive, and endlessly suspicious. We are here to change that. We've built a bank that works for you. And we really mean it! With Kiyanpay, you are always in the centre and our friendly team are here to serve.
      </p><br><br><br>
      </div>
    <div class="right-s">
      <img src="https://i.ibb.co/b6KmVCH/Untitled-Artwork-16.png" class="floating" />
    </div>
  </div>
</section>



<div class="container-end">
<section class="section-a">
  <div class="container">
    <div>
      <h1>Changing <br>The Way <br>We Bank</h1><br>
      <p>
        We are a creative banking challenger with an eye to the future. We have a lot of exciting, useful features packed and ready to go live soon, and we are always looking for new ways to innovate and revolutionise how we make use of our money. Here are some exciting features in the pipeline.
      </p><br><br>
      <a href="https://gate.kiyanpay.com/signup?type=personal" class="brk-btn">JOIN US TODAY</a>
    </div>
    <div class="padd">
      <img src="https://i.ibb.co/98TZJwt/Untitled-Artwork-34.png" class="floating" />
    </div>
  </div>
</section>

 
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://i.ibb.co/p1mWmpK/Untitled-Artwork-26.png)"></div>
    </div>
    <div class="description">
      <h1>KiyanPay Multi-Currency Cards</h1>
      <p> Soon you'll be able to take your virtual money with you and use it wherever you go. With our new multi-currency cards to launch later this year, you will be able to use your money to purchase or withdraw from ATM's around the world.</p>
    </div>
  </div>

<section class="section-v">
  <div class="container-small">
    <div class="slide-left">
      <h1>We are making banking Social</h1><br>
      <p>
        It's about time, isn't it? Dealing with money can be much more than a boring necessity. Stay tuned! 
      </p>
    </div>
      <img src="https://i.ibb.co/qgnc8H4/Untitled-Artwork-23.png" />
  </div>
</section>

  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://i.ibb.co/hKhk9WZ/Untitled-Artwork-30.png)"></div>
    </div>
    <div class="description">
      <h1>Money Transfer Done Right</h1>
      <p> Send money abroad the easy way, with rates up to 9 x cheaper than banks. You will soon have access to a growing list of currencies directly from your KiyanPay account.</p>
    </div>
  </div>

<!-- <div class="cardshb">
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="https://i.ibb.co/p1mWmpK/Untitled-Artwork-26.png" alt="las vegas">
            </div>
            <div class="details">
                <h3>KiyanPay Multi-Currency Cards</h3>
                <p>Soon you'll be able to take your virtual money with you and use it wherever you go. With our new multi-currency cards to launch later this year, you will be able to use your money to purchase or withdraw from ATM's around the world.</p>
            </div>
        </div>
        <div class="card card2">
            <div class="container">
                <img src="https://i.ibb.co/qgnc8H4/Untitled-Artwork-23.png" alt="New York">
            </div>
            <div class="details">
                <h3>We are making banking Social</h3>
                <p>It's about time, isn't it? Dealing with money can be much more than a boring necessity. Stay tuned!<br><br><br><br><br></p>
            </div>
        </div>
        <div class="card card3">
            <div class="container">
                <img src="https://i.ibb.co/hKhk9WZ/Untitled-Artwork-30.png" alt="Singapore">
            </div>
            <div class="details">
                <h3>Money Transfer Done Right</h3>
                <p>Send money abroad the easy way, with rates up to 9 x cheaper than banks. You will soon have access to a growing list of currencies directly from your KiyanPay account.<br><br><br></p>
            </div>
        </div>
    </div>
</div> -->
<div class="paddd">
</div>
</div>

<div class="mid-title">
  <h2>How It Works</h2>
</div>

<div class="cardsh">
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="https://i.ibb.co/1TCSvXQ/Untitled-Artwork-3.png" alt="las vegas">
            </div>
            <div class="details">
                <h3>Step 1: <br>Get Verified (in Minutes!)</h3>
                <p>Our verification is quicker than making your morning cuppa! All we need is your identification document such as passport or driving licence, and a selfie. Our system automatically verifies your data and once approved, you're good to go.<br></p>
            </div>
        </div>
        <div class="card card2">
            <div class="container">
                <img src="https://i.ibb.co/nzd26Tj/Untitled-Artwork.png" alt="New York">
            </div>
            <div class="details">
                <h3>Step 2:<br> Add Money to Your Account</h3>
                <p>After verification, you can start adding money to your KiyanPay account. All you need is your newly created account number and sort code, and then you can transfer money from any other bank directly.</p>
            </div>
        </div>
        <div class="card card3">
            <div class="container">
                <img src="https://i.ibb.co/w4rSrmj/Untitled-Artwork-2.png" alt="Singapore">
            </div>
            <div class="details">
                <h3>Step 3: <br> Spread the Love</h3>
                <p>Send payments the easy way. Use our simple payment interface to send payments in minutes and spread the love to the people important to you. Our two-factor payment authentication gives you peace of mind with every transfer.<br></p>
            </div>
        </div>
    </div>
</div>


  <section class="container-5">
    <div class="slider">
      <div class="slide slide-1">
        <div class="slide-text">
          <p class="testimonial-text">
            “ The onboarding took 5 minutes, literally! I can't believe I have created an actual, functioning bank account so fast. Everything is so simple. It has all that I want from a bank, and nothing more. ”
          </p>
          <p class="author-text">Celeste Morel
            <span>Psychology student and tech enthusiast</span></p>
        </div>
        <div class="slide-img">
          <img src="https://i.ibb.co/2qbf0TX/doctor.png" alt="img">
        </div>
      </div>
      <div class="slide slide-2">
        <div class="slide-text">
          <p class="testimonial-text">
            “ It's about time banks actually worked for you, not the other way around. I like the benefits that I get as a business owner from Kiyanpay, but I also love how I'm treated as a customer: with respect and dignity. That's not the attitude I've seen from high-street banks in a long long time. ”
          </p>
          <p class="author-text">Ahmed Farooqi
            <span>Coffee shop owner in London</span></p>
        </div>
        <div class="slide-img">
          <img src="https://i.ibb.co/dmcx6m5/businessman.png" alt="img">
        </div>
      </div>
      <div class="slide slide-3">
        <div class="slide-text">
          <p class="testimonial-text">
            “ No other bank trusted me when I first came into the UK. They make me feel like I don't belong here. Kiyanpay, however, did things differently, to say the least. Their trust in me made me trust them more than any other bank.  ”
          </p>
          <p class="author-text">Sam Cortez
            <span>Recently chose UK as his family's new home</span></p>
        </div>
        <div class="slide-img">
          <img src="https://i.ibb.co/xFVsHyd/cortez.jpg" alt="img">
        </div>
      </div>
      <div class="buttons">
        <div class="next"></div>
        <div class="prev"></div>
      </div>
    </div>
  </section>
  

<script>
    const next = document.querySelector('.next');
    const prev = document.querySelector('.prev');
    const slides = document.querySelectorAll('.slide');

    let index = 0;
    display(index);
    function display (index) {
    slides.forEach((slide) => {
    slide.style.display = 'none';
    });
    slides[index].style.display = 'flex';
  }

  function nextSlide () {
    index++;
    if (index > slides.length - 1) {
      index = 0;
    }
    display(index);
  }
  function prevSlide () {
    index--;
    if (index < 0) {
      index = slides.length - 1;
    }
    display(index);
  }

  next.addEventListener('click', nextSlide);
  prev.addEventListener('click', prevSlide);
</script>

  <!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- Cookies stay at bottom -->
<div class="cookie-container">
  <p><br>
    We use cookies in this website to give you the best experience on our
    site and show you relevant ads. To find out more, read our
    <%= link_to"Privacy Policy", privacy_path%>.<br><br>
  </p>
  <button class="cookie-btn">
    Ok
  </button>
</div>


<script>

const cookieContainer = document.querySelector(".cookie-container");
const cookieButton = document.querySelector(".cookie-btn");

cookieButton.addEventListener("click", () => {
  cookieContainer.classList.remove("active");
  localStorage.setItem("cookieBannerDisplayed", "true");
});

setTimeout(() => {
  if (!localStorage.getItem("cookieBannerDisplayed")) {
    cookieContainer.classList.add("active");
  }
}, 2000);
</script>
