
<%= render 'shared/navbar' %>

<div class="banner-currency">
  <img src="https://i.ibb.co/vwdvcBJ/Untitled-Artwork.png" alt="">
  <h4>No More Borders</h4> <br><br>
  <p>You don’t have to travel abroad to need to deal with alternative currencies. That’s why we’re letting you transfer your money into foreign currency easily, painlessly and cheaper than your average high-street bank.
  </p>
</div>
