<%= render 'shared/navbar' %>

<div class="banner-currency">
  <img src="https://i.ibb.co/XpWTff5/Untitled-Artwork-5.png" alt="">
  <h4>Password Protection</h4> <br><br>
  <p>Your password is your first line of defence against potential hackers, so it's good to make it as strong as possible.  <br><br>
    There are a lot of ways to choose a strong password. We recommend selecting words/numbers/characters which are entirely unrelated to you (we've all watched the movies where the password is the criminal's birthday).
  </p>
</div>

<div class="text-center">
  <h2>Protect Your Email:</h2>
</div>

<section class="section-t">
  <div class="container">
    <div class="right-side">
  <svg class="Hero__image-grid anim-hero" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 590.91 632.66">
    <defs>
      <clipPath id="heroclip1">
        <rect class="hero__swipe-1" id="heroclip1Rect" x="101.31" y="51.24" width="488.79" height="221.87" fill="#fff" data-svg-origin="590.1000061035156 162.17499923706055" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

      <clipPath id="heroclip2">
        <rect class="hero__swipe-2" id="heroclip1Rect" x="195.36" y="293.94" width="292.4" height="268.6" fill="#fff" data-svg-origin="487.75999450683594 428.24000549316406" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

      <clipPath id="heroclip3">
        <rect class="hero__swipe-3" id="heroclip3Rect" x="1.73" y="233.41" width="174.53" height="162.61" fill="#fff" data-svg-origin="176.25999879837036 314.71500396728516" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

      <clipPath id="heroclip4">
        <rect class="hero__swipe-4" id="heroclip4Rect" x="100.03" y="405.79" width="75.83" height="73.12" fill="#fff" data-svg-origin="175.86000061035156 442.3500099182129" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

    </defs>
    <g class="fouc fouc--hero" opacity="0" data-svg-origin="591 314.5249938964844" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;">
      <circle class="hero__circle" cx="90.18" cy="79.56" r="50" fill="#C3C7E5" data-svg-origin="90.18000030517578 79.55999755859375" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>
      <circle class="hero__circle" cx="488.39" cy="563.49" r="30" fill="#FEAF2D" data-svg-origin="488.3900146484375 563.489990234375" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>

      <rect class="hero__swipe-1" x="102" y="52" width="488" height="220" fill="#FEAF2D" data-svg-origin="590 162" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      <rect class="hero__swipe-2" x="196" y="294" width="292" height="268" fill="#C3C7E5" data-svg-origin="488 428" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      <rect class="hero__swipe-3" x="2" y="234" width="173" height="162" fill="#C3C7E5" data-svg-origin="175 315" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      <rect class="hero__swipe-4" x="101" y="406" width="75" height="73" fill="#FEAF2D" data-svg-origin="176 442.5" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>

      <image clip-path="url(#heroclip1)" href="https://source.unsplash.com/-1MWTZamkwI" preserveAspectRatio="xMidYMid slice" x="101" y="51" width="490" height="223"></image>
      <image clip-path="url(#heroclip2)" href="https://source.unsplash.com/tqkDGqPW8Vo" preserveAspectRatio="xMidYMid slice" x="195" y="293" width="294" height="270"></image>
      <image clip-path="url(#heroclip3)" href="https://source.unsplash.com/0aRycsfH57A" preserveAspectRatio="xMidYMid slice" x="1" y="233" width="176" height="164"></image>
      <image clip-path="url(#heroclip4)" href="https://source.unsplash.com/DoWZMPZ-M9s" preserveAspectRatio="xMidYMid slice" x="99" y="404" width="78" height="76"></image>
    </g>
  </svg>
    </div>
    <div class="slide-left">
      <p>
        Most services/platforms will request an email upon your sign-up, so you'll want to keep it safe. If it is hacked, then a scammer could have access to multiple sensitive accounts.
        We recommend changing your email password at least three times a year and definitely if you've been hacked or your security has been breached.
      </p><br><br><br>
    </div>
  </div>
</section>

<div class="text-center">
  <h2>Storing Your Passwords:</h2>
</div>

<section class="section-m">
  <div class="container">
    <div class="slide-left">
      <p>
        Ideally, you'll be using a separate, unique and secure password for every account so that you're not in danger if one of your accounts is hacked. However, we're realistic in thinking that won't be the case as it can be time-consuming. <br><br>
        The good news is, you don't have to remember them or re-enter them all. You can use a password safe like Zoho Vault so that you can access your passwords everywhere, even if you haven't previously saved them to your browser. Of course, this would make your Zoho password the most important one, so you'll want to keep it secure, and remember it.
      </p><br><br><br>
    </div>
    <div class="right-side">
          <svg class="Hero__image-grid anim-hero" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 590.91 632.66">
      <defs>
        <clipPath id="heroclip1">
          <rect class="hero__swipe-1" id="heroclip1Rect" x="101.31" y="51.24" width="488.79" height="221.87" fill="#fff" data-svg-origin="590.1000061035156 162.17499923706055" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        </clipPath>

        <clipPath id="heroclip2">
          <rect class="hero__swipe-2" id="heroclip1Rect" x="195.36" y="293.94" width="292.4" height="268.6" fill="#fff" data-svg-origin="487.75999450683594 428.24000549316406" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        </clipPath>

        <clipPath id="heroclip3">
          <rect class="hero__swipe-3" id="heroclip3Rect" x="1.73" y="233.41" width="174.53" height="162.61" fill="#fff" data-svg-origin="176.25999879837036 314.71500396728516" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        </clipPath>

        <clipPath id="heroclip4">
          <rect class="hero__swipe-4" id="heroclip4Rect" x="100.03" y="405.79" width="75.83" height="73.12" fill="#fff" data-svg-origin="175.86000061035156 442.3500099182129" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        </clipPath>

      </defs>
      <g class="fouc fouc--hero" opacity="0" data-svg-origin="591 314.5249938964844" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;">
        <circle class="hero__circle" cx="90.18" cy="79.56" r="50" fill="#114138" data-svg-origin="90.18000030517578 79.55999755859375" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>
        <circle class="hero__circle" cx="488.39" cy="563.49" r="30" fill="#FEAF2D" data-svg-origin="488.3900146484375 563.489990234375" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>

        <rect class="hero__swipe-1" x="102" y="52" width="488" height="220" fill="#FEAF2D" data-svg-origin="590 162" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        <rect class="hero__swipe-2" x="196" y="294" width="292" height="268" fill="#114138" data-svg-origin="488 428" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        <rect class="hero__swipe-3" x="2" y="234" width="173" height="162" fill="#114138" data-svg-origin="175 315" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
        <rect class="hero__swipe-4" x="101" y="406" width="75" height="73" fill="#FEAF2D" data-svg-origin="176 442.5" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>

        <image clip-path="url(#heroclip1)" href="https://source.unsplash.com/Uf-c4u1usFQ" preserveAspectRatio="xMidYMid slice" x="101" y="51" width="490" height="223"></image>
        <image clip-path="url(#heroclip2)" href="https://source.unsplash.com/cT7IeEz5-G8" preserveAspectRatio="xMidYMid slice" x="195" y="293" width="294" height="270"></image>
        <image clip-path="url(#heroclip3)" href="https://source.unsplash.com/QFE0UDdPF_Q" preserveAspectRatio="xMidYMid slice" x="1" y="233" width="176" height="164"></image>
        <image clip-path="url(#heroclip4)" href="https://source.unsplash.com/5pfTHLiK7wQ" preserveAspectRatio="xMidYMid slice" x="99" y="404" width="78" height="76"></image>
      </g>
    </svg>
    </div>
  </div>
</section>

<div class="text-center">
  <h2>Additional Measures:</h2>
</div>

<section class="section-t">
  <div class="container">
    <div class="right-side">
  <svg class="Hero__image-grid anim-hero" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 590.91 632.66">
    <defs>
      <clipPath id="heroclip1">
        <rect class="hero__swipe-1" id="heroclip1Rect" x="101.31" y="51.24" width="488.79" height="221.87" fill="#fff" data-svg-origin="590.1000061035156 162.17499923706055" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

      <clipPath id="heroclip2">
        <rect class="hero__swipe-2" id="heroclip1Rect" x="195.36" y="293.94" width="292.4" height="268.6" fill="#fff" data-svg-origin="487.75999450683594 428.24000549316406" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

      <clipPath id="heroclip3">
        <rect class="hero__swipe-3" id="heroclip3Rect" x="1.73" y="233.41" width="174.53" height="162.61" fill="#fff" data-svg-origin="176.25999879837036 314.71500396728516" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

      <clipPath id="heroclip4">
        <rect class="hero__swipe-4" id="heroclip4Rect" x="100.03" y="405.79" width="75.83" height="73.12" fill="#fff" data-svg-origin="175.86000061035156 442.3500099182129" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      </clipPath>

    </defs>
    <g class="fouc fouc--hero" opacity="0" data-svg-origin="591 314.5249938964844" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;">
      <circle class="hero__circle" cx="90.18" cy="79.56" r="50" fill="#C3C7E5" data-svg-origin="90.18000030517578 79.55999755859375" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>
      <circle class="hero__circle" cx="488.39" cy="563.49" r="30" fill="#27C3A2" data-svg-origin="488.3900146484375 563.489990234375" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>

      <rect class="hero__swipe-1" x="102" y="52" width="488" height="220" fill="#27C3A2" data-svg-origin="590 162" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      <rect class="hero__swipe-2" x="196" y="294" width="292" height="268" fill="#C3C7E5" data-svg-origin="488 428" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      <rect class="hero__swipe-3" x="2" y="234" width="173" height="162" fill="#C3C7E5" data-svg-origin="175 315" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>
      <rect class="hero__swipe-4" x="101" y="406" width="75" height="73" fill="#27C3A2" data-svg-origin="176 442.5" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></rect>

      <image clip-path="url(#heroclip1)" href="https://source.unsplash.com/zYgV-NGZtlA" preserveAspectRatio="xMidYMid slice" x="101" y="51" width="490" height="223"></image>
      <image clip-path="url(#heroclip2)" href="https://source.unsplash.com/ZlxVynP-4bQ" preserveAspectRatio="xMidYMid slice" x="195" y="293" width="294" height="270"></image>
      <image clip-path="url(#heroclip3)" href="https://source.unsplash.com/kPg_cIdmk1o" preserveAspectRatio="xMidYMid slice" x="1" y="233" width="176" height="164"></image>
      <image clip-path="url(#heroclip4)" href="https://source.unsplash.com/2toj_4L8M2M" preserveAspectRatio="xMidYMid slice" x="99" y="404" width="78" height="76"></image>
    </g>
  </svg>
    </div>
    <div class="slide-left">
        <p>Some platforms will ask you to use a security question to protect your account. It's an excellent idea to avoid the personal ones, even if they'll be easier to remember. <br><br>
          You might also be asked to secure your account with 2FA (2 Factor Authentication) so that you can be sure you're the only one logging into your account. It also means that if your password wasn't strong enough to keep hackers out, your account is still protected. KiyanPay uses 2FA through an authenticator app, so you can log in even if you don't have your phone with you. <br><br>
          It is essential to keep your banking details personal; NEVER share them with anyone, even if you think you trust them. If you have shared your details, please contact us to change them.
      </p><br><br><br>
    </div>
  </div>
</section>

<div class="button-back"><a rel=noopener href="/fraud-protection" class="brk-btn">BACK</a></div>
