<%= render 'shared/navbar' %>

<div class="banner-currency">
  <img src="https://i.ibb.co/7z730Hn/Untitled-Artwork-13.png" alt="">
  <h1>Our Mission and Philosophy</h1> <br><br>
  <p>We started KiyanPay because banking was not inclusive, user-friendly or progressive enough. In other words, banking customers all over the world were settling, as were we, and we’d had enough. So, we like to stick to three non-negotiable principles.
  </p>
</div>
