    <section class="section-b">
      <div class="overlay">

        	<div class="min">
        		<h1> Privacy & Data Collection Policy</h1>
          		<img src="https://i.ibb.co/LSsdCMv/Untitled-Artwork-19.png" alt="" />
      		</div>

      </div>      
    </section>
<div class="text-wrapper">
	<div class="text-content">

		<p>Trust and security are a big part of what makes KiyanPay the best way to send money internationally.

		Your privacy is very important to us, so we’d like to tell you what we do to keep your data safe and secure.

		In this policy, we explain how KiyanPay collects, manages, uses and protects your data.</p>

		<br><h2>1. Who are KiyanPay?</h2>

		<p>KiyanPay is an online money transfer service with the mission to make international money transfer easier, faster and cheaper.

		In this Privacy Policy, terms such as “we”, “us” and “KiyanPay” refer to KiyanPay (Company Number 11201126) with its registered office located at 40 Gracechurch Street, London EC3V 0BT, United Kingdom, and where relevant to its subsidiaries, branches and/or representative offices.

		The term “Service” refers to money transfers enabled from our website or mobile app.

		In the language of data protection regulation, KiyanPay is the “data controller” of your personal data and you, our customer, are the “data subject”. This means that KiyanPay determines the purposes and means of processing your personal data, while respecting rights concerning your privacy.</p>

		<br><h2>2. What data do we collect?</h2>

		<p>Like most companies, we collect various types of data about our customers. Some of it may be considered personal data, which means data that make you identifiable as an individual.</p>

		<p>We may collect and use the following data:</p>

		<p>Basic personal data, such as (but not limited to):

			<li> Date of birth </li>
			<li> Address </li>
			<li> Phone number </li>
			<li> E-mail address</li></p>

		<p>This data is necessary for KiyanPay to provide the Service to you. We will request this data when you sign up, before the Service is provided.</p>

		<p>Data for ‘Know Your Customer’ (KYC) regulations, such as (but not limited to):</p>

			<p><li>Proof of your identity, like a passport, driving licence, national ID card or residence permit</li>
			<li>Proof of your address, like a utility bill or bank statement</li>
			<li>Additional details on the the source of funds being sent, like a payslip, credit card statement, tax rebate receipt or bank loan agreement</li></p>

	<p>As a regulated financial institution, we are bound by the legal requirement to collect, verify and record certain data about you or recipients of your transactions. Any personal data received from the customer for the purpose of preventing money laundering or terrorist financing will be used only for that purpose and nothing more.


	This data will be needed to conduct Know Your Customer (KYC), Customer Due Diligence (CDD) and security checks, as required by local and international regulations. This helps us keep your money safe, and we will only request these details when necessary.</p>

	<p>As a regulated financial institution, we are bound by the legal requirement to collect, verify and record certain data about you or recipients of your transactions. Any personal data received from the customer for the purpose of preventing money laundering or terrorist financing will be used only for that purpose and nothing more.

	This data will be needed to conduct Know Your Customer (KYC), Customer Due Diligence (CDD) and security checks, as required by local and international regulations. This helps us keep your money safe, and we will only request these details when necessary.</p>

	<p>Data about your recipient, such as (but not limited to):</p>


		<p><li>Name</li>
			<li>Date of birth</li>
			<li>Occupation</li>
			<li>Phone number</li>
			<li>Proof of their identity, such as a passport, driving licence, national ID card or residence permit</li></p>

	<p>As a regulated financial institution, we are bound by the legal requirement to collect, verify and record certain data about you or recipients of your transactions. Any personal data received from the customer for the purpose of preventing money laundering or terrorist financing will be used only for that purpose and nothing more.

	This data will be needed to conduct Know Your Customer (KYC), Customer Due Diligence (CDD) and security checks, as required by local and international regulations. This helps us keep your money safe, and we will only request these details when necessary.</p>

	<p>Data from other third party sources, such as (but not limited to):</p>

		<p><li>Facebook, Twitter or Google profile images and names</li>
			<li>Banks and payment service providers used to transfer money to us</li>
			<li>Advertising networks</li>
			<li>Search engines providers (such as Yahoo.com or Google)</li>
			<li>Credit reference agencies</li></p>

	<p>KiyanPay collects this data only when you provide the relevant permission to social media sites.</p>

	<p>Technical data, such as (but not limited to):</p>

		<p><li>Page views</li>
			<li>App downloads</li>
			<li>Operating system</li>
			<li>Browser type</li>
		</p>

	<p>This data is used to help us to understand how you use our Service, so that we can improve it.</p>

	<h2>  3. Why do we collect your data?</h2>

	<p>We collect your data to personalize and improve our Service for you. The specific purposes for which we collect your data include:</p>


	<h2>Transactional purposes</h2>

	<p>We need to collect data in order to process your transactions. Without data such as you and your beneficiaries bank account details or full name and address, we would be unable to transfer money for you.</p>

	<h2>Regulatory purposes</h2>

	<p>As regulated financial institutions, both KiyanPay and our partners are required to conduct Know Your Customer (KYC) and Customer Due Diligence (CDD) checks to comply with our legal and regulatory requirements.

	These include our requirements under Anti Money Laundering (AML) and Counter Terrorist Financing (CTF) legislation. All of this helps us keep our Service safe and secure. Any personal data received from the customer for the purpose of preventing money laundering or terrorist financing will be used only for that purpose and nothing more.</p>

	<h2>Marketing purposes</h2>

	<p>We may process your personal data to provide you with certain types of marketing communication that we believe will be relevant and of interest to you. This helps us provide you with a more personalised Service. This kind of activity is permitted by our ‘legitimate interest’ (for more information on legitimate interest, please see Section 8 of this Policy). We will always endeavour to make these communications relevant and unintrusive, and you are able to object to marketing communication from us at any time.</p>

	<h2>Analytical purposes</h2>

	<p>We may collect and analyse data such as website or app visit logs in order to improve the quality of our Service.

	You do not have to disclose any of the above data to us. However, if you choose to withhold certain data, we may not be able to provide you with our Service.</p>

	<h2> 4. How do we keep your data safe and secure?</h2>

	<P>All the data that you provide to us is encrypted on our secure servers. We restrict access to your data to specific employees of KiyanPay who have an important business-related reason for handling it. Our communications are encrypted using the TLS (Transport Layer Security) technology protocol.

	All of the data we collect from you or from other sources will always be stored in accordance with this Privacy Policy.</P>

	<h2>5. How long do we keep your data?</h2>

	<p>Depending on what purpose your data is used for, the length of time we keep it may vary. Either way, we will only hold your data as long as necessary to serve the purpose it is used for.</p>

	<h2>Regulatory</h2>

	<p>We are legally required to keep the data obtained for Know Your Customer (KYC), Customer Due Diligence (CDD) and security purposes (including transaction records and our communications with you) for at least five years after the most recent transaction.</p>

	<h2>Legitimate Interest</h2>

	<p>When the five years’ retention period and/or legitimate interest no longer apply, we will remove your data from our system. For more information on legitimate interest, please see Section 8 of this Policy.</p>

	<h2>Consent</h2>

	<p>In situations where you give us specific consent to process certain kinds of data, you are able to withdraw that consent at any time. We will then stop processing your data and, if the five years’ retention period and/or legitimate interest retention period does not apply, we will also erase your data from our system.

	We may retain any data mentioned above for a longer period, if required to protect the rights, property or safety of KiyanPay or of the Service provided by us or our partners.</p>

	<h2> 6. Who do we share your data with?</h2>

	<p>We share your personal data with third parties only when it is necessary for the fulfilment of the Service or to comply with applicable laws.

	We will never sell your personal data to other organisations.

	We work with partners who help us to complete your transactions. If they are based outside the EEA, we will share your personal data with them only when they apply essential safeguards, or if it has been established by EU institutions that the relevant country has an appropriate data protection regime in place, or when we otherwise ensure that the appropriate level of protection is applied for data processing.

	The following are some purposes for which we may share your data with third parties:</p>

	<h2>To fulfil the contract between you and KiyanPay</h2>

	<p>We may share your data with third parties, such as our partners and intermediaries, when they are necessary for the fulfilment of the Service.</p>

	<h2>When required by law</h2>

	<p>We may share your data when required by law, for example for the purposes of security, taxation and criminal investigations.</p>

	<h2>For marketing and communication</h2>

	<p>We may share your data with third parties such as providers of customer service tools, marketing campaign tools, email communication tools, analytics software (for marketing purposes) and data visualisation tools (for analytical purposes).

	If we sell or buy any business or assets, we may be obliged to share your personal data with the prospective seller or buyer.</p>

	<h2> 7. What are your rights?</h2>

	<p>The law gives you a number of important rights in relation to your personal data, which are listed below.

	There are certain exceptions where these rights may be superseded by laws and other requirements applicable to regulated financial institutions like KiyanPay. An example of this would be the obligatory retention period (seen Section 5), which supersedes the right to data erasure.

	Your rights are:</p>

	<li>The right to be informed: the right to be informed about how we use your personal data</li>
	<li>The right of access and data portability: the right to request access to the data that we have about you, to obtain the data within a month of asking for it, and to use it for your own purposes</li>
	<li>The right to rectification: the right to correct, amend or update your personal data if it is wrong or has changed (this can usually be done using the settings provided on your account)</li>
	<li>The right to erasure: the right to ask us to remove the data we hold about you from our records</li>
	<li>The right to be forgotten: the right to request erasure of any links to your personal data, or of any copy or replication of any public personal data</li>
	<li>The right to restrict processing: the right to ask us to stop processing your personal data</li>
	<li>The right to object: the right to object to data processing, if you believe that our legitimate interest might infringe upon your rights</li>
	<li>Rights related to automated decision-making and profiling: the right not be subject to individual decisions made solely by automated means.</li>
	<li>The right to notification in the event of breach: the right to be immediately informed if we identify a data breach</li>
	<li>The right to raise a complaint: the right to contact our Data Protection Officer if you are not happy with how we have handled your personal data</li>
	<li>The right to lodge a complaint with a supervisory authority: the right to submit a complaint to the Information Commissioner’s Office (ICO) if you are not satisfied with our Data Protection Officer’s response, or if you believe that we are not processing your personal data in a lawful way.</li>


	<p>If you would like to read more about your rights in relation to your personal data, please refer to the Information Commissioner’s Office website. <a href="https://www.autoriteitpersoonsgegevens.nl/nl/zelf-doen/privacyrechten">website</a>.</p>

	<h2> 8. Legitimate interest</h2>

	<p>Legitimate interest is a specific legal justification for the collection and processing of your personal data. It applies when we have reasonable grounds to collect and/or process your personal data to improve our Service, as long as this does not infringe on your rights.

	We believe that if you are an active customer of KiyanPay, it is in your interest to receive occasional information about our Service. We may therefore send you communications about offers or promotions that we believe are relevant for you based on your previous use of the Service. If we notice that you are having problems using our Service, we may on our own initiative decide to contact you, in some cases by phone, to offer help.

	We may also process your data to help develop new product features that we believe will improve the Service. We may contact you occasionally to assess your satisfaction with the Service. We may also use your data to determine the effectiveness of marketing or promotional campaigns. We may also contact you with information about any changes in the Service, and/ or other important updates.

	We will only share anonymised or encrypted data with the third parties. We may also provide our partners with anonymous aggregated data about our customers for marketing and analytical purposes, to help optimise our marketing communications.

	You can object to data processing based on our legitimate interest at any time by contacting us at <a href="privacy@KiyanPay.com">privacy@KiyanPay.com</a> or by changing the settings on your KiyanPay account.</p>

	<h2> 9. Cookies Policy</h2>

	<p>Cookies are small text files which are stored on your device when you access KiyanPay. They allow us to recognise you and store data about your past activity and your preferences so that we can personalise and improve the Service for you.

	Cookies and other similar technologies may collect data such as language preference, country and previously viewed pages.

	We use the following cookies:</p>

	<p><h5><li>Necessary cookies:</h5>these cookies enable the basic use of our Service<h4>g. enabling content reserved for registered users</h4></li>
	<h5><li>Personalisation cookies:</h5>these cookies allow our Service to be personalised for you<h4>g. remembering your preferred language or sending country</h4></li>
	<h5><li>Analytical cookies:</h5>these cookies allow us to see how people use our Service so that we can understand how to improve it<h4>g. seeing how many people are logged in at a given time of day</h4></li></p>

	<p>By using our Service, you agree to place the cookies described above on your device. You have the right to withdraw your consent at any time. If you would like to delete our cookies, you can do so by changing the settings of your browser.

	Blocking or deleting cookies may mean that some features of the Service may not be available to you.</p>

	<h2>List of used Online Tracking Services:</h2>

	<p><li>Segment.com</li>
	<li>Google Ads</li>
	<li>Google Analytics</li>
	<li>Mixpanel</li>
	<li>Facebook ads</li>
	<li>Hotjar</li>
	<li>Branch</li>
	<li>Twitter Ads</li>
	<li>Bugsnag</li></p>

	<table style="width:90%">
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
  </tr>
  <tr>
    <td>1</td>
    <td>detectedCountry</td>
    <td>Cookie used for inter-services communication.</td>
    <td>Internal usage</td>
  </tr>
  <tr>
    <td>2</td>
    <td>PHPSESSID</td>
    <td>Session id cookie.</td>
    <td>Internal usage</td>
  </tr>
  <tr>
    <td>3</td>
    <td>access_token:WEB</td>
    <td>Session token for web client.</td>
    <td>Internal usage</td>
  </tr>
  <tr>
    <td>4</td>
    <td>KiyanPay-utdm</td>
    <td>Cookie used for identifying user across KiyanPay infrastructure.</td>
    <td>Internal usage</td>
  </tr>
  <tr>
    <td>5</td>
    <td>SERVERID</td>
    <td>Used for maintaining SSL sessions of user.</td>
    <td>Internal usage</td>
  </tr>
  <tr>
    <td>6</td>
    <td>snapcall</td>
    <td>Used by 3rd party phone support solution.</td>
    <td>3rd party – SnapCall</td>
  </tr>
  <tr>
    <td>7</td>
    <td>_hjIncludedInSample</td>
    <td>Cookie set to let Hotjar know whether that visitor is included in the sample which is used to generate Heatmaps, Funnels, Recordings, etc.</td>
    <td>3rd party – Hotjar</td>
  </tr>
  <tr>
    <td>8</td>
    <td>__zlcmid</td>
    <td>Live chat widget on Slack contact page (ZopIM).</td>
    <td>3rd party – Hotjar</td>
  </tr>
  <tr>
    <td>9</td>
    <td>fbsr_SOME_ID (e.g. fbsr_368165616583442)</td>
    <td>Cookie set by Facebook for application integration.</td>
    <td>3rd party – Facebook</td>
  </tr>
  <tr>
    <td>10</td>
    <td>fbm_SOME_ID (e.g. fbm_368165616583442)</td>
    <td>Cookie set by Facebook for application integration.</td>
    <td>3rd party – Facebook</td>
  </tr>
  <tr>
    <td>11</td>
    <td>_fbp</td>
    <td>Cookie delivers our advertising to people who have already visited our website when they are on Facebook or a digital platform powered by Facebook Advertising.</td>
    <td>3rd party – Facebook</td>
  </tr>
  <tr>
    <td>12</td>
    <td>mp_9a53f678fdbf6f2267977fa60c35a4b4_mixpanel</td>
    <td>Cookie used by Mixpanel tool (user behavioral analytics).</td>
    <td>3rd party – Mixpanel</td>
  </tr>
  <tr>
    <td>13</td>
    <td>ab.storage.sessionId.{GENERATED_ID}</td>
    <td>Cookie set by Google Ads.</td>
    <td>3rd party – Google</td>
  </tr>
  <tr>
    <td>14</td>
    <td>ab.storage.deviceId.{GENERATED_ID}</td>
    <td>Cookie set by Google Ads.</td>
    <td>3rd party – Google</td>
  </tr>
  <tr>
    <td>15</td>
    <td>ab.storage.userId.{GENERATED_ID}</td>
    <td>Cookie set by Google Ads (cookie name e.g. ab.storage.userId.5101d9db-07c6-4bd4-9afd-76b51cc28568).</td>
    <td>3rd party – Google</td>
  </tr>
  <tr>
    <td>16</td>
    <td>_ga</td>
    <td>Cookie set by Google Analytics and used for identifying users.</td>
    <td>3rd party – Google</td>
  </tr>
  <tr>
    <td>17</td>
    <td>_gid</td>
    <td>Cookie set by Google Analytics and used for identifying users.</td>
    <td>3rd party – Google</td>
  </tr>
  <tr>
    <td>18</td>
    <td>ajs_group_id</td>
    <td>Used by segment.com, customer data collection infrastructure.</td>
    <td>3rd party – Segment</td>
  </tr>
  <tr>
    <td>19</td>
    <td>ajs_anonymous_id</td>
    <td>Used by segment.com, customer data collection infrastructure.</td>
    <td>3rd party – Segment</td>
  </tr>
  <tr>
    <td>20</td>
    <td>ajs_user_id</td>
    <td>Used by segment.com, customer data collection infrastructure.</td>
    <td>3rd party – Segment</td>
  </tr>
</table>

<h2>10. Automated decision making</h2>

<p>We may use automated decision making only if:</p>

<p>
	<li>It is necessary to fulfil a contract between us and a customer (e.g. for the estimated delivery time software, which we use to determine the time it takes for a transfer to reach a recipient).</li>
	<li>The automated decision-making process is authorised by the laws to which KiyanPay is subject.</li>
	<li>The processing is based on the customer’s explicit consent.</li>
</p>

<p>None of our automated decision-making processes will have a legal/significant effect on you.</p>

<h2>11. Logging in to KiyanPay with your Facebook and Google account</h2>

<p>You can log in to KiyanPay using your Facebook or Google profiles. This allows us to authenticate your identity by obtaining access to:</p>

<li>Your e-mail address associated with your Facebook and Google profile</li>
<li>Your Facebook public profile</li>
<li>Your Google basic profile</li>
<li>Your Google contacts</li>

<p>Any of your personal data that we receive from third parties will be subject to this Privacy Policy and the privacy policies of those third parties.

By using your Facebook or Google login credentials, your personal data may be processed by Facebook or Google marketing tools. An example of this is the Facebook tool called ‘Lookalike Audiences’ or a similar tool used by Google called ‘Customer Match’. These help us to identify people who have similar interests or behaviours to those of our customers. We may use similar tools provided by Facebook or Google in the future.</p>

<h2>12. Changes in Privacy Policy</h2>

<p>KiyanPay may change this Privacy Policy from time to time. Any changes will be effective immediately unless stated otherwise. The date of the most recent update is displayed at the top of the page.

Any dispute or claim arising in connection with this Privacy Policy will be considered in relation to the English version only.</p>

<h2>13. Contact details</h2>

<p>KiyanPay has a Data Protection Officer who is responsible for matters related to privacy, data protection and data security. Our Data Protection Officer can be contacted at <a href="privacy@KiyanPay.com">privacy@KiyanPay.com</a>.</p>


	</div>
</div>