   <div class="navigation-wrap start-header start-style">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="navbar navbar-expand-md navbar-light">
            <%=  link_to "/", class: "navbar-brand" do %>
              <%= image_tag "KP_Logo2.png" %>
            <% end %>

    <div class="navigationbarpro">

      <a rel=noopener href="/">Personal</a>
      <a rel=noopener href="/professional">Business</a>
      <div class="animation start-home"></div>
    </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto py-4 py-md-0">
                <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4 active">
                  <a rel=noopener class="nav-link" href="#"aria-expanded="false"><%= link_to"ABOUT US", about_path%></a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="/blogs-all"aria-expanded="false">BLOG</a>&nbsp &nbsp&nbsp
                  <a rel=noopener class="nav-link" href="https://support.kiyanpay.com/en/"aria-expanded="false">SUPPORT</a>
                </li>
              </ul>

              <div class="position-btn">
                <div class='brk-btn'><a rel=noopener href="https://gate.kiyanpay.com/signup">Sign Up</a></div>
              </div>
              &nbsp&nbsp <a class="greybold" href="https://gate.kiyanpay.com/login">Login</a>
            </div>

            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>






<!-- Very important to make jquery work -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>



<section class="section-a">
  <div class="container">
    <div>
      <div class="text-down">
        <h1>A Business Account You Deserve</h1><br>
      <p>
        Whether you’re part of a small but powerful team or you’re a one-person powerhouse - we’re here to support you.
        We’re making payments easy. Paying employees and suppliers just became quicker and stay on top of your finances with real team notifications that keep you up to speed.

      </p><br><br>
        <a rel=noopener href="https://gate.kiyanpay.com/signup" class="brk-btn">START TODAY</a>
      </div>
    </div>
    <div class="padd">
      <img src="https://i.ibb.co/YT0WCtg/Untitled-Artwork-14.png" class="floating" />
    </div>
  </div>
</section>

<div class="container-green">
<!--   <h2>Scale Your Business Fast</h2>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://i.ibb.co/5nj4yZh/Untitled-Artwork-5.png)"></div>
    </div>
    <div class="description">
      <h1>Pay People & Employees</h1>
      <p> Make quick and easy payments to those important to your business.</p>
    </div>
  </div> -->

  <section class="section-v">
  <div class="container-small">
          <img src="https://i.ibb.co/d0Fx77c/Untitled-Artwork-7.png" />
    <div class="slide-left">
      <h1>Pay People & Employees</h1><br>
      <p>
         Make quick and easy payments to those important to your business.
      </p>
    </div>

  </div>
</section>

  <section class="section-v">
  <div class="container-small-l">
    <div class="slide-left">
      <h1>Keep Suppliers <br>Happy</h1><br>
      <p>
        Give your contractors and suppliers the confidence they need to help you grow.
      </p>
    </div>
    <div class="child">
      <img src="https://i.ibb.co/tp6NWmW/Untitled-Artwork-8.png" />
    </div>
  </div>
</section>

<section class="section-v">
  <div class="container-small">
          <img src="https://i.ibb.co/C2D7C64/Untitled-Artwork-6.png" />
    <div class="slide-left">
      <h1>Get Real-Time Notifications</h1><br>
      <p>
         Keep on top of your account's ongoing activities with our smart notifications.
      </p>
    </div>

  </div>
</section>

<!--   <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://i.ibb.co/SfLQx5x/Untitled-Artwork-7.png)"></div>
    </div>
    <div class="description">
      <h1>Get Real-Time Notifications</h1>
      <p> Keep on top of your account's ongoing activities with our smart notifications.</p>
    </div>
  </div> -->
</div>

<section class="section-a">
  <div class="container">
    <div>
      <div class="text-semidown">
        <h1>All For A Small Monthly Fee</h1><br>
      <p>
        We promised you transparency so here it is! Costs are low and disclosed upfront so you don’t have to worry about hidden fees or evil bankers taking your hard-earned money.
      </p><br><br>
      </div>
    </div>
    <div class="padd">
      <img src="https://i.ibb.co/yN6bjmh/Untitled-Artwork-41.png"  />
    </div>
  </div>
</section>

<section id="about" class="section-r">
  <div class="container-2">
    <div class="float-l">
      <img src="https://i.ibb.co/wpWZ9Ng/Untitled-Artwork-43.png" class="floating" />
    </div>
    <div class="section-b-inner py-5"><br><br>
      <h2>From Our Team to Yours </h2>
      <p>
      We’re here for small business. We support upstarts, growth-focused start-ups and brick-and-mortar shops. Why? Because you matter and we care.
<br><br><br>
              <a href="https://gate.kiyanpay.com/signup" class="lgt-btn">START TODAY</a>
      </p><br><br>

    </div>
    <div class="float-r">
      <img src="https://i.ibb.co/C7hzgWH/Untitled-Artwork-42.png" class="floating" />
    </div>
  </div>
</section>

