

<section class="section-a">
  <div class="container">
    <div>
      <div class="text-down">
        <h1>A Business Account You Deserve</h1><br>
      <p>
        Sign up your business for a Kiyanpay account today and benefit from our many invoicing . Even if your business is just you, Kiyanpay can get you a business account in minutes and help you grow.
      </p><br><br>
        <a href="https://gate.kiyanpay.com/signup" class="brk-btn">START TODAY</a>
      </div>
    </div>
    <div class="padd">
      <img src="https://i.ibb.co/h9nB1tX/Untitled-Artwork-22.png" class="floating" />
    </div>
  </div>
</section>

<div class="container-green">
  <h2>Scale Your Business Fast</h2>
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://i.ibb.co/kKtqW3g/Business-team-working-on-a-new-business-plan-with-modern-digital-computer-Top-view-shot.jpg)"></div>
    </div>
    <div class="description">
      <h1>Pay People & Employees</h1>
      <p> Make quick and easy payments to those important to your business.</p>
    </div>
  </div>

  <div class="blog-card">
    <div class="description">
      <h1>Keep Suppliers <br>Happy</h1>
      <p>Give your contractors and suppliers the confidence they need to help you grow.</p>
    </div>
    <div class="meta"> 
      <div class="photo" style="background-image: url(https://i.ibb.co/YBYn0BQ/Happy-young-busiensswoman-discussing-at-the-meeting-with-his-colleague.jpg)"></div>
    </div> 
  </div>

  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url(https://i.ibb.co/sHS5LyD/man-with-a-shopping-bag-looking-at-the-screen-of-his-smartphone-concept-of-health-protection.jpg)"></div>
    </div>
    <div class="description">
      <h1>Get Real-Time Notifications</h1>
      <p> Keep on top of your account's ongoing activities with our smart notifications.</p>
    </div>
  </div>
</div>

<section class="section-a">
  <div class="container">
    <div>
      <div class="text-semidown">
        <h1>All For A Small Monthly Fee</h1><br>
      <p>
        We are transparent about our costing, and so you never have to worry about paying us more than you should
      </p><br><br>
      </div>
    </div>
    <div class="padd">
      <img src="https://i.ibb.co/yN6bjmh/Untitled-Artwork-41.png"  />
    </div>
  </div>
</section>

<section id="about" class="section-r">
  <div class="container-2">
    <div class="float-l">
      <img src="https://i.ibb.co/RBHYFhm/Untitled-Artwork-37.png" class="floating" />
    </div>
    <div class="section-b-inner py-5"><br><br>
      <h2>Committed to Small Businesses</h2>
      <p>We’re here for the small businesses. The upstarts, the growth-focused startups and the brick-and-mortar shops. Find out how KiyanPay can help you grow to your full potential.<br><br><br>
              <a href="https://gate.kiyanpay.com/signup" class="brk-btn">START TODAY</a>
      </p><br><br>

    </div>
    <div class="float-r">
      <img src="https://i.ibb.co/88DwvDy/Untitled-Artwork-36.png" class="floating" />
    </div>
  </div>   
</section>


