    <section class="section-a">
      <div class="container">
        <div>
          <h1>Business Account</h1><br>
          <p>
            Sign up your business for a Kiyanpay account today and benefit from our many invoicing . Even if your business is just you, Kiyanpay can get you a business account in minutes and help you grow.
          </p><br><br><br>
        </div>
        <img src="https://i.ibb.co/1XMSFL9/Untitled-Artwork-13.png" alt="" />
      </div>
    </section>


        <!-- Large Text -->
    <section id="about" class="section-c">
      <div class="overlay">
        <div class="section-b-inner py-5">
          <h2 class="text-5 mt-1">Borderless Money</h2>
          <p class="mt-1">When you work hard to send money to those important to you, the last thing on your mind should be the means of transfer. At KiyanPay, we strive to make your transfer secure and simple regardless of long distances.
          </p>
        </div>
      </div>      
    </section>


    <section class="section-a">
      <div class="container">
        <div>
          <h1>Business Account</h1><br>
          <p>
            Grow your business globally with cheap international payments.
          </p><br><br><br>
        </div>
        <img src="https://i.ibb.co/h9nB1tX/Untitled-Artwork-22.png" alt="" />
      </div>
    </section>

    <section class="section-a">
  <div class="container">
    <img src="https://i.ibb.co/s5s2V3K/Untitled-Artwork-12.png" alt="" />
    <div>
      <h1>KiyanPay Multi-Currency Cards</h1><br>
      <p>
        Soon you'll be able to take your virtual money with you and use it wherever you go. With our new multi-currency cards to launch later this year, you will be able to use your money to purchase or withdraw from ATM's around the world.
      </p><br><br><br>
    </div>
  </div>
</section>