


article {
  padding-top: 100px;
  background: #f9f7f1;
  padding-bottom: 50px;
  h1 {

  text-transform: uppercase;
  line-height: 1em;
  text-align: center;
  font-weight: 700;
  padding: 0px;
  margin: 0px;
  margin-bottom: 40px;
  margin-top: 50px;
  h2 {
  font-size: 3em;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
  li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
    display: inline;
 }
}

h3 {
  font-size: 2.4em;
  margin: 0px;
  padding: 0px;
  line-height: 0.8em;
  padding-top: 20px;
}
}

.center img {
  max-height: 500px;
  max-height: 500px;
}

}
blockquote {
  font-family: 'Gilroy', sans-serif;
  line-height: 1.2em;
  font-size: 1.8em;
  column-span: 2;
  -webkit-column-span: 2;
  margin: 0px;
  padding: 0px;
  margin-left: 5px;
}



.time {
  text-align: center;

  border-top: 3px solid #333;
  border-bottom: 3px solid #333;
  font-size: 1.6em;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

@media only all and (min-width: 600px) {
  article {
    column-gap: 40px;
    line-height: 1.5em;
    font-size: 1em;
    column-rule: 2px outset #444;
  }
  h1 {
    font-size: 8em;
    column-span: all;
  }
  .time {
    column-span: all;
  }
  p {

    hyphens: auto;
    hyphenate-character: "\u2605";
  }
  h2 {
    text-align: center;
  }
}

// .mainpicture {
//   margin-left: 300px;
//   margin-right: 300px;
//   padding-bottom: 50px;

//   img {
//     max-height: 550px;
//     max-width: 800px;
//   }
// }

.mainpicture {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.articles {
  padding-left: 50px;
  padding-right: 50px;
  a:hover {
    color: black;
  }
 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }
 h2 {
  font-size: 3rem;
 }


 p {
  max-width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
 }
 li {
  max-width: 950px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
 }
}

    // .articles {
    //   margin-left: 300px;
    //   margin-right: 300px;
    // }

    // article {
    //   h1 {
    //     font-size: 6rem;
    //   }
    //   img {
    //     max-height: 550px;
    //     max-width: 800px;
    //   }
    // }

