.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  margin-bottom: 10%;
  margin-top: 10%;
  background: #f3fbf9;
  line-height: 1.4;
  overflow: hidden;
  z-index: 0;
  a {
    color: inherit;
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: #f3fbf9;
    padding: 10px;
    width: 100%;
    font-size: .9rem;
    a {
      text-decoration: dotted underline
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      margin-right: 10px;
      content: "\f007";
    }

    .date:before {
      margin-right: 10px;
      content: "\f133";
    }

    .tags {
      ul:before {
        content: "\f02b";
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 3rem;
    background: #f3fbf9;
    position: relative;
    z-index: 1;
    h1,
    h2 {
    }
    h1 {
      padding-top: 30px;
      line-height: 1;
      margin: 0;
      font-size: 4rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #a2a2a2;
      margin-top: 5px;
    }
  }
  p {
    position: relative;
    margin: 3rem 0 0;
    padding-bottom: 50px;
  }


  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 1000px;
    .meta {
      flex-basis: 50%;
      height: auto;
      .photo {
        max-width: 300px;
        max-height: 300px;
        justify-content: center;
      }
    }
    .description {
      flex-basis: 50%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #f3fbf9;
        width: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
  }
}
