.cardsh {
    padding-top: 100px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 40px;
}
.card{
    background-color: #1c1b29;
    border-radius: 20px;
}
.cardsh .container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
}
.cardsh img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.cardsh .container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}


.cardshb .container{
    position: relative;
    clip-path: polygon(0 0,100% 0, 100% 85%, 0 100%);
    background-color:  #f3fbf9;
}
.cardshb img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.cardshb .container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.cardshb .card {
    background-color: #f3fbf9;
}

.details{
    padding: 20px 10px;
}
.details>h3{
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}
.details>p{
    color: #a0a0a0;
    font-size: 15px;
    line-height: 100px;
    font-weight: 400;
}