

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 40px;
}
.card{
    border-radius: 20px;
}
.cardsh .container{
    position: relative;
}
.cardsh img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}



.cardshb .container{
    position: relative;
    background-color:  #e9f9f6;

}
.cardshb img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;

}
.cardshb .container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.cardshb .card {
    background-color: #e9f9f6;
}

.details{
    padding: 20px 10px;
}


