.contact form {
  background-color: #f0f0f0;
  border-radius: 5px;
  border-top: 8px solid  #104138;
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
  padding: 1em;
  padding-top: 10px;
}

.contact form input, .contact form textarea {
  border: none;
  border-radius: 5px;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
  width: 100%;
}

.contact form textarea {
  height: 6em;
}

.contact form input[type="submit"] {
  background-color:  #104138;
  border-radius: 30px;
  color: #fff;
  padding: 1em;
  text-transform: uppercase;
}

.container-fluid {
  padding-top: 150px;
  padding-bottom: 100px;
  max-width: 996px;
  h2 {
    font-size: 5rem;
    text-align: center;
  }
}


.light-green {
  background-color: #f3fbf9;
  padding-top: 150px;
  padding-bottom: 100px;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  h2 {
  text-align: center;
  font-family: "Gilroy";
  font-size: 8rem;
  }

}

.section-l-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 600px;
  padding: 5rem 0;
  max-height: 600px;
}


.section-l-inner p {
  font-size: 2rem;
}
