#okCookie{
  background-color:#191C1F;
  color:#333333;
  bottom:0;
  left:0;
  width:100%;
  padding:10px;
  min-height: 100px;
  position: sticky;
  z-index: 1;
  padding-left: 50px;
}

#okCookie p {
  color: white;
  padding-bottom: 20px;
  padding-top: 10px;
}

#okCookie #okClose, #okCookie #okCprivacy{
  padding:5px 20px;
  text-decoration:none;
  border-radius:35px;
  color:white;

}

#okCookie #okClose{
  background-color:#8D9499;
  box-shadow:inset 0px -1px 1px #63666B;

}

#okCookie #okClose:hover{background-color:#25C3A3}

#okCookie #okCprivacy{

}


.okcBeginAnimate{
    -webkit-animation: myfirst 2s; 
    animation: myfirst 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
} 
