  /* Extra Small Devices, Phones */
@media only screen and (max-width : 500px) {
    /* Dropdown Button */
    .rectangle-blog {
      display: none;
    }

        /* Style The Dropdown Button */
    .dropbtn {
      background-color: #2F2F2F;
      color:  #f9f9f9;
      font-size: 16px;
      border: none;
      cursor: pointer;
      width: 200px;
      height: 40px;
      border-radius: 25px;
      margin-top: 50px;
      position: absolute;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 23%;
      padding-bottom: -2px;
      text-align: center;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      margin: auto;
      margin-top: 20px;
      margin-bottom: 50px;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      border-radius: 15px;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #f1f1f1}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
      background-color: #2F2F2F;
    }
}

        /* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  .rectangle-blog {
    display: none;
  }

.rectangle-blog {
    margin: auto;
    width: 802px;
    height: 45px;
    border: 3px solid #2F2F2F;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 70px;
    display: -webkit-flex;
    display: flex;

    a {
      margin: auto;
      font-weight: bold;
    }

    a:hover {
      margin: auto;
      color: black;
    }
}

.button-blog {
  border-radius: 25px;
  background-color: #2F2F2F;
  height: 39px;
  width: 161px;
  display: -webkit-flex;
  display: flex;
  border: 3px solid #2F2F2F;
  a {
    margin: auto;
    color: #F9F7F1;
  }
  a:hover {
    color: white;
  }
}

.business-blog {
  display: -webkit-flex;
  display: flex;
  a {
    margin: auto;
    padding-left: 10px;
  }
}

.button-sbusiness {
  border-radius: 25px;
  background-color: #2F2F2F;
  height: 39px;
  width: 215px;
  display: -webkit-flex;
  display: flex;
  border: 3px solid #2F2F2F;
  a {
    margin: auto;
    color: #F9F7F1;
  }
  a:hover {
    color: white;
  }
}
}

        /* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .dropbtn {
    display: none;
  }

  .dropdown {
    display: none;
  }
.rectangle-blog {
    margin: auto;
    width: 802px;
    height: 45px;
    border: 3px solid #2F2F2F;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 70px;
    display: -webkit-flex;
    display: flex;

    a {
      margin: auto;
      font-weight: bold;
    }

    a:hover {
      margin: auto;
      color: black;
    }
}

.button-blog {
  border-radius: 25px;
  background-color: #2F2F2F;
  height: 39px;
  width: 161px;
  display: -webkit-flex;
  display: flex;
  border: 3px solid #2F2F2F;
  a {
    margin: auto;
    color: #F9F7F1;
  }
  a:hover {
    color: white;
  }
}

.business-blog {
  display: -webkit-flex;
  display: flex;
  a {
    margin: auto;
    padding-left: 10px;
  }
}

.button-sbusiness {
  border-radius: 25px;
  background-color: #2F2F2F;
  height: 39px;
  width: 215px;
  display: -webkit-flex;
  display: flex;
  border: 3px solid #2F2F2F;
  a {
    margin: auto;
    color: #F9F7F1;
  }
  a:hover {
    color: white;
  }
}
}

        /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  .dropbtn {
    display: none;
  }

  .dropdown {
    display: none;
  }
.rectangle-blog {
    margin: auto;
    width: 802px;
    height: 45px;
    border: 3px solid #2F2F2F;
    box-sizing: border-box;
    border-radius: 25px;
    margin-top: 70px;
    display: -webkit-flex;
    display: flex;

    a {
      margin: auto;
      font-weight: bold;
    }

    a:hover {
      margin: auto;
      color: black;
    }
}

.button-blog {
  border-radius: 25px;
  background-color: #2F2F2F;
  height: 39px;
  width: 161px;
  display: -webkit-flex;
  display: flex;
  border: 3px solid #2F2F2F;
  a {
    margin: auto;
    color: #F9F7F1;
  }
  a:hover {
    color: white;
  }
}

.business-blog {
  display: -webkit-flex;
  display: flex;
  a {
    margin: auto;
    padding-left: 10px;
  }
}

.button-sbusiness {
  border-radius: 25px;
  background-color: #2F2F2F;
  height: 39px;
  width: 215px;
  display: -webkit-flex;
  display: flex;
  border: 3px solid #2F2F2F;
  a {
    margin: auto;
    color: #F9F7F1;
  }
  a:hover {
    color: white;
  }
}
}

@media (max-width: 700px) {
}


