.container-5 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.slider {
  display: block;
  height: 100%;
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  position: relative;
}
.slide {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide-img {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  padding: 40px;
  background-image: url(https://i.ibb.co/5FMYgW1/Untitled-Artwork-39.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.slide-text {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position: top center;
}
.testimonial-text { 
  font-weight: 300;

}
.author-text {
  margin-top: 20px;
  font-weight: 700;
}
.author-text span {
  color: #4C4C4F;
  font-weight: 500;
  display: block;
}
.slide-img img {
  height: 100%;
  width: 300px;
}
.prev,
.next {
  display: inline-block;
  width: 50%;
  height: 100%;
  position: absolute;
  cursor: pointer;
}
.prev:hover,
.next:hover {
  background-color: #f3fbf9;
}
.buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 315px;
  width: 90px;
  height: 45px;
  box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
  border-radius: 50px;
  background-color: white;
  overflow: hidden;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.next::after,
.prev::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.next::after {
  background-image: url(icon-next.svg);
}
.prev::after {
  background-image: url(icon-prev.svg);
}
@media only screen and (min-width: 768px) {
  .slide {
    flex-direction: row;
    text-align: left;
  }
  .slide-text {
    background-position: 10% top;
    background-size: 100px;
    align-items: flex-start;
  }
  .slide-img {
    margin-left: -100px;
    z-index: -1;
  }
  .slide-img img {
    width: 400px;
  }
  .buttons {
    top: 415px;
    transform: translate(0);
    left: calc(100% - 400px);
  }
}
@media only screen and (max-width: 400px) {
  .slide-img img {
    width: 200px;
  }
  .slide-img {
    padding: 10px;
  }
  .buttons {
    top: 180px;
  }
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  
  border-left: 10px solid green;
  padding-top: 10px;
  padding-left: 5px;
}

.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right:10px solid blue; 
  position: center;
}