
.subscribe-box {
    padding-bottom: 70px;
    text-align: center;
    h3 {
        margin: 0 0 .85em 0;
        font-size: 4rem;
        font-family: "Gilroy" sans-serif;
        font-weight: bold;
    }
    .required {
      border-radius: 1px black solid;
      text-align: center;
    }
    .brk-btn {
      align: center;
      border-radius: 35px;
    }

    input {
      border-radius: 1px;
      border-bottom: 1px solid #757575;
      margin-bottom: 20px;
    }
}
