
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  color: #4C4C4F;
  font-weight: 300;
  line-height: 1.3;
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-family: "Gilroy";
}

a {
  color: #444;
  text-decoration: none;
  outline: none;
}

ul {
  list-style: none;

}


// Scroll animation

.container-3 h1 h2 h3 p {
  text-align: center;
}

.container-end {
  background-color: #f3fbf9;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  h1 {
    padding-top: 150px;
  }
  .padd {
    padding-top: 80px;
  }
}



.floating {   
    animation-name: floating; 
    animation-duration: 6s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px; 
} 
  
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
} 


.scale-up-bottom {
  -webkit-animation: scale-up-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          animation: scale-up-bottom 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


img { 
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.container-1{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  h2 {
    font-size: 6rem;
  }

}

.section-a {
  margin: 2rem 0;
}

.right-side {
  padding-top: 80px;
}

.section-a a:hover {
  color: white;
  font-weight: bold;
}

.section-a .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;

}

.section-a .container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
  text-align: center;

}

@media (max-width: 700px) {
  .section-a .container-3 {
    grid-template-columns: 1fr;
    text-align: center;
  }

}

.section-a .container-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;

}
.section-a h1 {
  font-size: 8rem;
  color: var(--primary-color);
}

.section-a p {
  margin: 1rem 0;
  font-size: 2rem;
}

.section-a .slide-left {
  padding-left: 20px;
}

@media (max-width: 700px) {
  .section-a .container-1 {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-a .container-1 div:first-child {
    order: 2;
  }

  .section-a .container-1 div:nth-child(2) {
    order: -1;
  }

  .section-a img {
    margin: auto;
  }
}



// Section b only

.section-b {
  position: relative;
  height: 600px;
  background-color: white;
}


.section-b-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 600px;
  padding: 5rem 0;
  max-height: 600px;
}


.section-b-inner h3 {
  font-size: 2rem;
}

.section-b-inner h2 {
  font-size: 5rem;
  margin-top: 1rem;
}

.section-b-inner p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

@media (max-width: 700px) {
  .section-a .container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-a .container  div:first-child {
    order: 2;
  }

  .section-a .container div:nth-child(2) {
    order: -1;
  }

  .section-a img {
    margin: auto;
  }
}



// Section c only 

.section-c {
  width: 100%;
  height: 600px;
  background-color: #25C3A3;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;
}

.section-c .container-2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;

}

@media (max-width: 700px) {
  .section-c .container-2 {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .section-c .container-2 div:first-child {
    order: 2;
  }
}
.section-c h2 {
  color: white;
  font-size: 6rem;
}
.section-c p {
  color: white;
  font-size: 2rem;
}

.section-c-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 600px;
  padding: 5rem 0;
  max-height: 600px;
}

.section-c-inner h3 {
  font-size: 6rem;
}

.section-c-inner h2 {
  font-size: 5rem;
  margin-top: 1rem;
}

.section-c-inner p {
  margin-top: 1rem;
  font-size: 4rem;
}

.section-c {
  margin: 2rem 0;
  padding-top: 80px;
}

.section-c a:hover {
  color: #8B959E;
}

.section-c .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.section-c h1 {
  font-size: 4rem;
  color: var(--primary-color);
}



// Section d only 

.section-d {
  position: relative;
  min-height: 850px;
  background-color: #F2F2F2;
}


.section-d-inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 500px;
  padding: 5rem 0;
  max-height: 600px;
}


.section-d-inner h3 {
  font-size: 2rem;
}

.section-d-inner h2 {
  font-size: 5rem;
  margin-top: 1rem;
}

.section-d-inner p {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.section-d {
  margin: 2rem 0;
  padding-top: 80px;
}

.section-d a:hover {
  color: #F2F2F2;
}

.min {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 600px;
  padding: 5rem 0;
  min-height: 800px;
}

.min2 {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
  max-width: 600px;
  padding: 5rem 0;
  max-height: 300px;
  padding-top: 200px;
}

.min2 h1 {
  font-size: 5rem;
}

.min h1 {
  font-size: 5rem;
}

// container h

.section-a .text-down {
  padding-top: 200px;
  padding-bottom: 50px;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--overlay-color);
}
