
@font-face {
  font-family: "Gilroy";
  src: url('/assets/Gilroy-UltraLight.otf') format("truetype");
  src: url('/assets/Gilroy-Thin.otf') format("truetype");
  src: url('/assets/Gilroy-Regular.otf') format("truetype");
  src: url('/assets/Gilroy-Medium.otf') format("truetype");
  src: url('/assets/Gilroy-Bold.otf') format("truetype");
}